Repository cloudflare/workers-sdk, pull requests merged in 2021-12, with the labels that each got.

#77 Persist KV, DO & Cache locally when `wrangler pages dev`-ing
  packages/wrangler/src/pages.tsx
Labels: pages

#85 Add Pages CI to publish wrangler@pages
  .github/workflows/pages-ci.yml
Labels: pages

#86 @cloudflare/pages-functions-compiler@0.3.8
  package-lock.json
  packages/wrangler/package.json
Labels: pages

#76 CI/CD Improvements
  .changeset/README.md
  .changeset/config.json
  .changeset/violet-nails-love.md
  .eslintrc
  .github/version-script.js
  .github/workflows/prereleases.yml
  .github/workflows/releases.yml
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: maintenance

#90 CI/CD Tests & Type Checking
  .changeset/gentle-rice-study.md
  .github/workflows/changeset-pr.yml
  .github/workflows/prereleases.yml
  .github/workflows/release.yml
  .github/workflows/tests-typecheck.yml
Labels: maintenance

#105 Serve static files like Pages does
  .changeset/wet-ligers-live.md
  package-lock.json
  package.json
  packages/wrangler/package.json
  packages/wrangler/src/pages.tsx
Labels: pages

#114 Fix proxy request typing bug and fallback 404 behavior in pages
  .changeset/long-ligers-study.md
  packages/wrangler/src/pages.tsx
Labels: bug, pages

#159 Run tests on all branches
  .github/workflows/tests-typecheck.yml
Labels: maintenance

#161 Add Content-Type header to `wrangler pages dev`'s static assets
  .changeset/flat-wombats-sneeze.md
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/pages.tsx
Labels: bug, pages

#167 Add built to tests
  .github/workflows/tests-typecheck.yml
  package.json
Labels: maintenance
