Repository cloudflare/workers-sdk, pull requests merged in 2022-03, with the labels that each got.

#564 Request Pages API scopes when logging in
  .changeset/giant-sloths-fail.md
  packages/wrangler/src/user.tsx
Labels: pages

#579 Render helpstring for incomplete subcommands
  .changeset/eighty-worms-thank.md
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/index.tsx
Labels: polish

#612 Add links to documentation for deprecated commands
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Labels: documentation, polish

#581 Fix incorrect parse for env binding
  packages/wrangler/src/pages.tsx
Labels: pages

#617 Add Pages Functions example test project
  .changeset/pink-apricots-fix.md
  packages/example-pages-functions-app/functions/blog/[slug].ts
  packages/example-pages-functions-app/functions/date.ts
  packages/example-pages-functions-app/functions/intercept.ts
  packages/example-pages-functions-app/package.json
  packages/example-pages-functions-app/public/index.html
  packages/example-pages-functions-app/tests/index.test.ts
  packages/example-pages-functions-app/tsconfig.json
Labels: pages

#608 fix: Ensure multiple splats are handled correctly in generateConfigFromFil…
  .changeset/late-crabs-care.md
  packages/wrangler/pages/functions/filepath-routing.test.ts
  packages/wrangler/pages/functions/filepath-routing.ts
Labels: pages

#632 Documentation links
  packages/wrangler/src/index.tsx
Labels: documentation

#670 Kill hanging process after integration tests complete
  packages/example-pages-functions-app/tests/index.test.ts
  packages/example-remix-pages-app/tests/index.test.ts
Labels: maintenance, pages

#671 Don't immediately exit on Pages Functions compilation error
  .changeset/tame-timers-brake.md
  packages/wrangler/src/pages.tsx
Labels: bug, pages

#680 Support backwards compatibility with environment names and related CLI flags
  .changeset/swift-apes-battle.md
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation-helpers.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/index.tsx
Labels: Wrangler1 Parity

#684 Fix --binding for wrangler pages dev
  .changeset/two-lions-teach.md
  packages/example-pages-functions-app/functions/variables.ts
  packages/example-pages-functions-app/package.json
  packages/example-pages-functions-app/tests/index.test.ts
  packages/wrangler/src/pages.tsx
Labels: bug, pages

#661 Add messaging for CLI pages command being in Beta
  .changeset/happy-trainers-teach.md
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/pages.tsx
Labels: pages, polish

#689 Pass in args to normalize and validate function
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/index.tsx
Labels: cleanup

#699 Added logout, login to help message
  .changeset/forty-kiwis-explode.md
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Labels: polish
