Repository cloudflare/workers-sdk, pull requests merged in 2022-08, with the labels that each got.

#1518 feature: Reduce Functions executions for Asset-only requests - Manual _routes.json creation
  .changeset/selfish-phones-develop.md
  fixtures/routing-app/functions/[default].js
  fixtures/routing-app/functions/_middleware.js
  fixtures/routing-app/functions/bar/[stuff].js
  fixtures/routing-app/functions/bar/baz/[[all]].js
  fixtures/routing-app/functions/bar/foo.js
  fixtures/routing-app/functions/blah.js
  fixtures/routing-app/functions/foo.js
  fixtures/routing-app/functions/index.ts
  fixtures/routing-app/public/_routes.json
  fixtures/routing-app/public/index.html
  packages/wrangler/src/pages/publish.tsx
  packages/wrangler/src/pages/upload.tsx
Labels: pages

#1603 feat: R2 Object Delete
  .changeset/young-weeks-worry.md
  packages/wrangler/src/__tests__/helpers/mock-cfetch.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/r2.ts
Labels: enhancement, polish

#1604 Added R2 support to pages dev
  .changeset/yellow-bats-explode.md
  fixtures/pages-functions-app/functions/r2/create.ts
  fixtures/pages-functions-app/functions/r2/get.ts
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/pages/dev.tsx
Labels: pages

#1617 fix: Ignore _routes.generated.json when uploading Pages assets
  .changeset/dull-dodos-bow.md
  packages/wrangler/src/pages/upload.tsx
Labels: pages

#1615 Set `sourceRoot` to `destination` in local dev mode
  .changeset/beige-mirrors-clap.md
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/inspect.ts
Labels: community

#1602 Pass `usageModel` to Miniflare in local dev
  .changeset/purple-readers-rescue.md
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/local.tsx
Labels: enhancement, community

#1621 fix Command failed: git rev-parse --abrev-ref HEAD
  .changeset/orange-ads-marry.md
  packages/wrangler/src/pages/projects.tsx
Labels: pages

#1629 fix: disallow imports in _worker.js
  .changeset/rotten-timers-do.md
  fixtures/pages-workerjs-app/package.json
  fixtures/pages-workerjs-app/tests/index.test.ts
  fixtures/pages-workerjs-app/tsconfig.json
  fixtures/pages-workerjs-app/workerjs-test/_worker.js
  fixtures/pages-workerjs-app/workerjs-test/other-script.js
  package-lock.json
  packages/wrangler/src/pages/dev.tsx
Labels: pages

#1634 feat: [pages] add loaders for .html & .txt
  .changeset/short-bikes-breathe.md
  fixtures/pages-functions-app/functions/import-html.ts
  fixtures/pages-functions-app/index.d.ts
  fixtures/pages-functions-app/tests/index.test.ts
  fixtures/pages-functions-app/tsconfig.json
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Labels: pages

#1641 `wrangler pages dev` multiworker Durable Objects
  .changeset/wicked-poets-behave.md
  .gitignore
  fixtures/external-durable-objects-app/d/functions/index.ts
  fixtures/external-durable-objects-app/d/package.json
  fixtures/external-durable-objects-app/d/public/index.html
  fixtures/external-durable-objects-app/package.json
  fixtures/external-durable-objects-app/tests/index.test.ts
  packages/wrangler/src/pages/dev.tsx
Labels: pages

#1639 Support 'exceededMemory' error status
  .changeset/thick-weeks-pump.md
  packages/wrangler/src/__tests__/tail.test.ts
  packages/wrangler/src/tail/filters.ts
  packages/wrangler/src/tail/printing.ts
Labels: polish

#1655 fix: Pages Functions custom _routes.json not being used
  .changeset/big-dancers-compete.md
  packages/wrangler/src/pages/publish.tsx
Labels: pages

#1648 Implement new `wrangler pages functions optimize-routes` command
  .changeset/gorgeous-beds-fetch.md
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/pages/functions.tsx
  packages/wrangler/src/pages/functions/routes-transformation.ts
  packages/wrangler/src/pages/index.tsx
Labels: pages

#1622 fix: pages dev handle multiple file extensions
  .changeset/healthy-cougars-ring.md
  fixtures/pages-functions-app/public/a.b.html
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/src/miniflare-cli/assets.ts
Labels: pages

#1662 chore: Jest upgrade to 28
  package-lock.json
  package.json
Labels: maintenance

#1649 fix: [windows] unable to find netstat
  .changeset/blue-ladybugs-attend.md
  packages/wrangler/src/pages/dev.tsx
Labels: pages

#1656 fix: Warn when Pages Functions have no routes
  .changeset/shaggy-spies-scream.md
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/errors.ts
  packages/wrangler/src/pages/publish.tsx
Labels: pages

#1671 feat: pages publish - log special files being uploaded
  .changeset/perfect-balloons-invite.md
  fixtures/external-durable-objects-app/tests/index.test.ts
  fixtures/service-bindings-app/tests/index.test.ts
  packages/wrangler/src/pages/publish.tsx
Labels: pages

#1686 fix: escape function path regex chars
  .changeset/cool-peaches-boil.md
  fixtures/pages-functions-app/functions/regex_chars/my-file.ts
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/templates/pages-template-plugin.ts
  packages/wrangler/templates/pages-template-worker.ts
Labels: pages

#1695 fix: React Key Prop
  packages/wrangler/src/whoami.tsx
Labels: maintenance, bug

#1628 fix: pages dev process exit when proxied process exits
  .changeset/nasty-apricots-wash.md
  packages/wrangler/src/pages/dev.tsx
Labels: pages

#1733 fix: implement busboy to handle formData parsing
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/cfetch/internal.ts
Labels: bug
