Repository cloudflare/workers-sdk, pull requests merged in 2022-01, with the labels that each got.

#160 Pages Functions Compiler
  .changeset/lucky-goats-think.md
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/pages/functions/buildWorker.ts
  packages/wrangler/pages/functions/filepath-routing.test.ts
  packages/wrangler/pages/functions/filepath-routing.ts
  packages/wrangler/pages/functions/identifiers.ts
  packages/wrangler/pages/functions/routes.ts
  packages/wrangler/pages/functions/template-worker.ts
  packages/wrangler/scripts/bundle.ts
  packages/wrangler/src/pages.tsx
Labels: pages, cleanup

#220 Add live reload to wrangler pages dev
  .changeset/unlucky-sloths-lay.md
  packages/wrangler/src/pages.tsx
Labels: pages

#199 refactor: inspect/debugging as `useInspector`
  .changeset/slimy-suits-hope.md
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/api/inspect.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/inspect.ts
Labels: cleanup

#277 fix: align publishing sites asset keys with Wrangler 1
  .changeset/quiet-steaks-smoke.md
  .vscode/settings.json
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/scripts/bundle.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/sites.tsx
Labels: blocked

#306 tests: logout
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/jest.setup.ts
  packages/wrangler/src/__tests__/logout.test.ts
  packages/wrangler/src/__tests__/whoami.test.tsx
Labels: blocked

#324 Fix wrangler pages dev failing to start for just static assets
  .changeset/poor-actors-join.md
  packages/wrangler/src/pages.tsx
Labels: bug, pages
