Repository cloudflare/workers-sdk, pull requests merged in 2023-05, with the labels that each got.

#3142 [Solarflare] Color tweaks for in curly brackets
  .changeset/sour-timers-grin.md
  packages/solarflare-theme/README.md
  packages/solarflare-theme/solarflare-quickstart.md
  packages/solarflare-theme/themes/cloudflare-light-color-theme.json
Labels: vscode, theme

#3108 [wrangler] Deprecate the `generate` command
  packages/wrangler/src/generate/index.ts
Labels: wrangler

#3107 [wrangler] Deprecate the init command
  packages/wrangler/src/__tests__/generate.test.ts
  packages/wrangler/src/__tests__/init.test.ts
  packages/wrangler/src/generate/index.ts
  packages/wrangler/src/init.ts
Labels: wrangler

#3123 [wrangler] Handle multi-module workers when downloading scripts
  packages/wrangler/src/__tests__/init.test.ts
  packages/wrangler/src/cfetch/internal.ts
  packages/wrangler/src/init.ts
Labels: wrangler

#3201 [Editor] Hide type files
  packages/quick-edit/functions/_middleware.ts
Labels: Editor

#3236 [c3] add ts chatgpt plugin template
  packages/create-cloudflare/src/cli.ts
  packages/create-cloudflare/templates/chatgptPlugin/ts/.assets/example.png
  packages/create-cloudflare/templates/chatgptPlugin/ts/.gitignore
  packages/create-cloudflare/templates/chatgptPlugin/ts/README.md
  packages/create-cloudflare/templates/chatgptPlugin/ts/package-lock.json
  packages/create-cloudflare/templates/chatgptPlugin/ts/package.json
  packages/create-cloudflare/templates/chatgptPlugin/ts/src/index.ts
  packages/create-cloudflare/templates/chatgptPlugin/ts/src/search.ts
  packages/create-cloudflare/templates/chatgptPlugin/ts/wrangler.toml
Labels: c3

#3288 Fix off-white fallback color
  packages/solarflare-theme/themes/cloudflare-light-color-theme.json
Labels: Editor

#3322 Add `d1 info` command for people to check DB size
  packages/wrangler/src/__tests__/d1/d1.test.ts
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/d1/info.tsx
Labels: d1:alpha

#3293 [Pages] feat: add `wrangler pages project delete` command
  .changeset/lazy-boxes-deny.md
  packages/wrangler/src/__tests__/pages/project-delete.test.ts
  packages/wrangler/src/pages/index.ts
  packages/wrangler/src/pages/projects.tsx
Labels: pages
