Repository cloudflare/workers-sdk, pull requests merged in 2023-11, with the labels that each got.

#4319 Update e2e snapshots for Standard pricing
  packages/wrangler/e2e/c3-integration.test.ts
  packages/wrangler/e2e/deploy.test.ts
  packages/wrangler/e2e/deployments.test.ts
  packages/wrangler/e2e/helpers/account-id.ts
  packages/wrangler/e2e/helpers/wrangler-command.ts
Labels: e2e

#4051 [pages-shared] Remove extension name check when generating response
  .changeset/cold-bugs-kick.md
  packages/pages-shared/asset-server/handler.ts
Labels: pages, awaiting Cloudflare response

#3026 Add advanced code example to documentation
  templates/experimental/worker-rust/README.md
Labels: awaiting reporter response

#4341 Intercept workerd logs + write all debug logs to a hidden file
  .changeset/gentle-pans-push.md
  .changeset/weak-peaches-marry.md
  .github/workflows/e2e.yml
  .github/workflows/pullrequests.yml
  packages/miniflare/src/index.ts
  packages/miniflare/src/plugins/core/index.ts
  packages/miniflare/src/runtime/index.ts
  packages/miniflare/src/shared/log.ts
  packages/miniflare/test/http/fetch.spec.ts
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/helpers/normalize.ts
  packages/wrangler/e2e/helpers/retry.ts
  packages/wrangler/scripts/deps.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/environment-variables/factory.ts
  packages/wrangler/src/logger.ts
  packages/wrangler/src/utils/debug-log-file.ts
Labels: e2e

#4445 fix(c3): ensure shell scripts work on Windows
  .changeset/angry-walls-cheer.md
  .changeset/popular-dolls-enjoy.md
  .github/actions/run-c3-e2e/action.yml
  .github/workflows/c3-e2e-project-cleanup.yml
  .github/workflows/c3-e2e.yml
  .vscode/settings.json
  fixtures/external-durable-objects-app/tests/index.test.ts
  fixtures/service-bindings-app/tests/index.test.ts
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/e2e-tests/frameworks.test.ts
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/scripts/common.ts
  packages/create-cloudflare/scripts/e2eCleanup.ts
  packages/create-cloudflare/src/cli.ts
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/frameworks/angular/index.ts
  packages/create-cloudflare/src/frameworks/astro/index.ts
  packages/create-cloudflare/src/frameworks/docusaurus/index.ts
  packages/create-cloudflare/src/frameworks/gatsby/index.ts
  packages/create-cloudflare/src/frameworks/hono/index.ts
  packages/create-cloudflare/src/frameworks/next/index.ts
  packages/create-cloudflare/src/frameworks/nuxt/index.ts
  packages/create-cloudflare/src/frameworks/qwik/index.ts
  packages/create-cloudflare/src/frameworks/react/index.ts
  packages/create-cloudflare/src/frameworks/remix/index.ts
  packages/create-cloudflare/src/frameworks/solid/index.ts
  packages/create-cloudflare/src/frameworks/svelte/index.ts
  packages/create-cloudflare/src/frameworks/vue/index.ts
  packages/create-cloudflare/src/helpers/__tests__/command.test.ts
  packages/create-cloudflare/src/helpers/command.ts
  packages/create-cloudflare/src/helpers/packages.ts
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/create-cloudflare/src/pages.ts
  packages/create-cloudflare/src/types.ts
  packages/create-cloudflare/src/workers.ts
  packages/create-cloudflare/vitest-e2e.config.ts
Labels: bug, c3
