Repository cloudflare/workers-sdk, pull requests merged in 2024-04, with the labels that each got.

#5480 [wrangler] Expose URL from url & node:url in node_compat mode
  .changeset/chatty-rats-notice.md
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/standard-url.ts
Labels: e2e

#5376 C3: Improve help output
  .changeset/kind-lies-beg.md
  packages/create-cloudflare/e2e-tests/frameworks.test.ts
  packages/create-cloudflare/e2e-tests/workers.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/help.ts
  packages/create-cloudflare/src/helpers/__tests__/args.test.ts
  packages/create-cloudflare/src/helpers/args.ts
  packages/create-cloudflare/src/helpers/cli.ts
  packages/create-cloudflare/src/types.ts
  pnpm-lock.yaml
Labels: ldw-exempt

#5377 Add `wrangler.toml` support in `pages deploy`
  .changeset/chilly-queens-compare.md
  fixtures/pages-functions-with-config-file-app/wrangler.toml
  packages/wrangler/src/__tests__/config-validation-pages.test.ts
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/__tests__/pages/deployment-list.test.ts
  packages/wrangler/src/__tests__/pages/functions-build.test.ts
  packages/wrangler/src/__tests__/pages/pages-build-env.test.ts
  packages/wrangler/src/__tests__/pages/pages-download-config.test.ts
  packages/wrangler/src/__tests__/pages/project-create.test.ts
  packages/wrangler/src/__tests__/pages/project-delete.test.ts
  packages/wrangler/src/__tests__/pages/project-list.test.ts
  packages/wrangler/src/__tests__/pages/project-upload.test.ts
  packages/wrangler/src/__tests__/pages/project-validate.test.ts
  packages/wrangler/src/api/pages/deploy.tsx
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation-pages.ts
  packages/wrangler/src/pages/deploy.tsx
  packages/wrangler/src/pages/dev.ts
Labels: ldw-exempt

#5496 Fix hyperdrive e2e
  packages/wrangler/e2e/dev.test.ts
Labels: e2e

#5533 fix r2 e2e
  packages/wrangler/e2e/r2.test.ts
Labels: e2e

#5566 Remove code coverage
  .github/workflows/README.md
  .github/workflows/changesets.yml
  .github/workflows/codecov-context.yml
  .github/workflows/create-pullrequest-prerelease.yml
  .github/workflows/d1.yml
  .github/workflows/e2e.yml
  .github/workflows/prerelease-create-cloudflare.yml
  .github/workflows/prereleases.yml
  .github/workflows/pullrequests.yml
  .github/workflows/worker-playground-preview-testing-env-deploy-and-test.yml
  codecov.yml
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/pages/deploy.test.ts
Labels: e2e

#5172 Allow marking externals in Pages Functions
  .changeset/unlucky-kangaroos-brake.md
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-app/tests/index.test.ts
  fixtures/pages-plugin-example/functions/ext.ts
  fixtures/pages-plugin-example/package.json
  fixtures/pages-plugin-mounted-on-root-app/package.json
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/pages/build.ts
  packages/wrangler/src/pages/buildFunctions.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  pnpm-lock.yaml
Labels: pages

#5599 Add basic support for `wrappedBindings` and RPC entrypoints to Miniflare's Magic Proxy
  .changeset/quick-parents-float.md
  .changeset/wild-shoes-love.md
  .github/workflows/e2e.yml
  fixtures/get-platform-proxy/tests/get-platform-proxy.env.test.ts
  fixtures/get-platform-proxy/tests/tsconfig.json
  fixtures/get-platform-proxy/tsconfig.json
  fixtures/get-platform-proxy/workers/rpc-worker/index.ts
  fixtures/get-platform-proxy/workers/rpc-worker/wrangler.toml
  fixtures/get-platform-proxy/wrangler.toml
  packages/miniflare/package.json
  packages/miniflare/src/http/request.ts
  packages/miniflare/src/http/response.ts
  packages/miniflare/src/plugins/core/index.ts
  packages/miniflare/src/workers/core/proxy.worker.ts
  packages/miniflare/test/index.spec.ts
  packages/wrangler/e2e/c3-integration.test.ts
  packages/wrangler/e2e/deployments.test.ts
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/get-platform-proxy.test.ts
  packages/wrangler/e2e/helpers/wrangler-command.ts
  packages/wrangler/e2e/helpers/wrangler.ts
  packages/wrangler/e2e/pages-dev.test.ts
  packages/wrangler/e2e/r2.test.ts
  packages/wrangler/e2e/versions.test.ts
  packages/wrangler/turbo.json
  pnpm-lock.yaml
Labels: e2e

#5628 Revert "Skip comments in requirements and test dependencies"
  .changeset/wise-lemons-remain.md
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
Labels: e2e

#5521 Enable test caching
  fixtures/additional-modules/package.json
  fixtures/ai-app/package.json
  fixtures/durable-objects-app/tests/index.test.ts
  fixtures/durable-objects-app/vitest.config.ts
  fixtures/entrypoints-rpc-tests/package.json
  fixtures/external-durable-objects-app/package.json
  fixtures/external-service-bindings-app/package.json
  fixtures/get-bindings-proxy/package.json
  fixtures/get-platform-proxy/package.json
  fixtures/import-wasm-example/package.json
  fixtures/interactive-dev-tests/package.json
  fixtures/local-mode-tests/package.json
  fixtures/no-bundle-import/package.json
  fixtures/node-app-pages/package.json
  fixtures/pages-d1-shim/package.json
  fixtures/pages-dev-proxy-with-script/package.json
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-wasm-app/package.json
  fixtures/pages-functions-with-config-file-app/package.json
  fixtures/pages-functions-with-routes-app/package.json
  fixtures/pages-plugin-mounted-on-root-app/package.json
  fixtures/pages-proxy-app/package.json
  fixtures/pages-simple-assets/package.json
  fixtures/pages-workerjs-and-functions-app/package.json
  fixtures/pages-workerjs-app/package.json
  fixtures/pages-workerjs-directory/package.json
  fixtures/pages-workerjs-wasm-app/package.json
  fixtures/pages-workerjs-with-config-file-app/package.json
  fixtures/pages-workerjs-with-routes-app/package.json
  fixtures/pages-ws-app/package.json
  fixtures/ratelimit-app/package.json
  fixtures/remix-pages-app/package.json
  fixtures/service-bindings-app/package.json
  fixtures/type-generation/package.json
  fixtures/worker-app/package.json
  lint-turbo.mjs
  package.json
  packages/cli/package.json
  packages/edge-preview-authenticated-proxy/package.json
  tools/package.json
  turbo.json
Labels: e2e

#2928 Convert Templates and Examples to use Module Workers Format
  templates/examples/cryptocurrency-slack-bot/index.js
  templates/examples/cryptocurrency-slack-bot/wrangler.toml
  templates/examples/edge-cache-html/edge-cache-html.js
  templates/examples/fast-google-fonts/fast-google-fonts.js
  templates/examples/third-party-scripts/third-party-scripts.js
  templates/worker-aws/src/index.js
  templates/worker-aws/wrangler.toml
  templates/worker-sites-react/worker/index.js
  templates/worker-sites/index.js
  templates/worker-sites/src/index.js
  templates/worker-sites/wrangler.toml
Labels: e2e

#5207 [D1] fix `wrangler d1 migration apply` to for queries not ending in a semi-colon
  .changeset/gorgeous-taxis-argue.md
  packages/wrangler/src/d1/migrations/apply.tsx
Labels: d1

#5054 Update VSCode to 1.85.2, including updates to TypeScript
  .github/workflows/deploy-pages-previews.yml
  packages/quick-edit-extension/vscode.d.ts
  packages/quick-edit/.node-version
  packages/quick-edit/.nvmrc
  packages/quick-edit/README.md
  packages/quick-edit/build.sh
  packages/quick-edit/functions/_middleware.ts
  packages/quick-edit/package.json
  packages/quick-edit/patches/0001-Add-Custom-workbench-for-Cloudflare.patch
  packages/quick-edit/patches/0002-Remove-Themes-from-Setting-SubMenu.patch
  packages/quick-edit/patches/0003-Remove-Profile-from-Setting-SubMenu.patch
  packages/quick-edit/patches/0003-Removed-Menu.patch
  packages/quick-edit/patches/0004-Remove-Account-Extension.patch
  packages/quick-edit/patches/0004-Remove-Profile-from-Setting-SubMenu.patch
  packages/quick-edit/patches/0005-Remove-Account-Extension.patch
  packages/quick-edit/patches/0005-Remove-nls.patch
  packages/quick-edit/patches/0006-Hide-File-Explorer-by-default.patch
  packages/quick-edit/patches/0006-Remove-Debug-Icon-other-default-views.patch
  packages/quick-edit/patches/0007-Better-local-workspace.patch
  packages/quick-edit/patches/0007-Remove-Source-Control.patch
  packages/quick-edit/patches/0008-Enable-project-wide-intellisense-for-web.patch
  packages/quick-edit/patches/0008-Remove-Custom-Menu-hamburger.patch
  packages/quick-edit/patches/0009-Hide-VSCode-UI.patch
  packages/quick-edit/patches/0009-Remove-Extensions-Icon-Quick-Access.patch
  packages/quick-edit/patches/0010-Remove-dead-code.patch
  packages/quick-edit/setup.sh
Labels: preview:quick-edit

#5680 ci: fix deployment of local Wrangler for e2e tests
  .github/workflows/e2e.yml
  packages/wrangler/e2e/helpers/wrangler.ts
Labels: e2e

#5654 cache + speedup windows e2e
  .github/workflows/README.md
  .github/workflows/changesets.yml
  .github/workflows/deploy-pages-previews.yml
  .github/workflows/e2e.yml
  .github/workflows/prerelease-create-cloudflare.yml
  .github/workflows/prereleases.yml
  .github/workflows/test-and-check.yml
  .github/workflows/test-old-node-error.yml
  fixtures/shared/src/run-wrangler-long-lived.ts
  package.json
  packages/create-cloudflare/package.json
  packages/wrangler/package.json
  pnpm-lock.yaml
  turbo.json
  vitest.shared.ts
Labels: e2e
