Repository cloudflare/workers-sdk, pull requests merged in 2024-01, with the labels that each got.

#3567 Update wrangler dep in package.json for rust template
  templates/experimental/worker-rust/Cargo.toml
  templates/experimental/worker-rust/package.json
  templates/experimental/worker-rust/wrangler.toml
Labels: awaiting Cloudflare response

#4630 fix: miniflare now sets the "Host" header to match the upstream URL
  .changeset/curly-colts-beam.md
  fixtures/worker-app/src/index.js
  fixtures/worker-app/tests/index.test.ts
  packages/miniflare/package.json
  packages/miniflare/src/plugins/core/index.ts
  packages/miniflare/src/workers/core/constants.ts
  packages/miniflare/src/workers/core/entry.worker.ts
  packages/miniflare/test/index.spec.ts
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/start-server.ts
  pnpm-lock.yaml
Labels: bug, miniflare, wrangler, e2e

#2820 [wrangler] Add better printing for complex unsafe metadata
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/helpers/mock-upload-worker.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
Labels: enhancement

#4651 Prometheus metrics
  packages/edge-preview-authenticated-proxy/package.json
  packages/edge-preview-authenticated-proxy/src/index.ts
  packages/edge-preview-authenticated-proxy/worker-configuration.d.ts
  packages/format-errors/package.json
  packages/format-errors/src/index.ts
  packages/playground-preview-worker/package.json
  packages/playground-preview-worker/src/index.ts
  packages/playground-preview-worker/worker-configuration.d.ts
  pnpm-lock.yaml
Labels: playground-worker

#4676 Make sure that the correct entrypoint file path is applied when bundling Pages applications
  .changeset/eighty-hotels-train.md
  fixtures/pages-dev-proxy-with-script/_worker.js
  fixtures/pages-dev-proxy-with-script/custom/script/path/index.js
  fixtures/pages-dev-proxy-with-script/package.json
  fixtures/pages-dev-proxy-with-script/tests/index.test.ts
  fixtures/pages-dev-proxy-with-script/tests/tsconfig.json
  fixtures/pages-dev-proxy-with-script/tsconfig.json
  fixtures/pages-dev-proxy-with-script/vitest.config.ts
  packages/wrangler/src/pages/dev.ts
  pnpm-lock.yaml
Labels: e2e

#4674 Fix usage of patch API in bulk secrets update
  .changeset/green-items-serve.md
  packages/wrangler/src/__tests__/secret.test.ts
  packages/wrangler/src/secret/index.ts
Labels: blocked, bug, internal, wrangler

#3427 [wrangler] fix: Use Windows SYSTEMROOT env var for finding netstat
  .changeset/brave-moons-shop.md
  packages/wrangler/src/pages/dev.ts
  packages/wrangler/turbo.json
Labels: pages

#4800 chore: inherit vitest settings from the root
  CONTRIBUTING.md
  fixtures/additional-modules/vitest.config.ts
  fixtures/ai-app/vitest.config.ts
  fixtures/external-durable-objects-app/vitest.config.ts
  fixtures/external-service-bindings-app/vitest.config.ts
  fixtures/import-wasm-example/vitest.config.ts
  fixtures/interactive-dev-tests/vitest.config.ts
  fixtures/local-mode-tests/vitest.config.ts
  fixtures/no-bundle-import/vitest.config.ts
  fixtures/node-app-pages/vitest.config.ts
  fixtures/pages-d1-shim/vitest.config.ts
  fixtures/pages-dev-proxy-with-script/vitest.config.ts
  fixtures/pages-functions-app/vitest.config.ts
  fixtures/pages-functions-wasm-app/vitest.config.ts
  fixtures/pages-functions-with-routes-app/vitest.config.ts
  fixtures/pages-plugin-mounted-on-root-app/vitest.config.ts
  fixtures/pages-simple-assets/vitest.config.ts
  fixtures/pages-workerjs-and-functions-app/vitest.config.ts
  fixtures/pages-workerjs-app/vitest.config.ts
  fixtures/pages-workerjs-directory/vitest.config.ts
  fixtures/pages-workerjs-wasm-app/vitest.config.ts
  fixtures/pages-workerjs-with-routes-app/vitest.config.ts
  fixtures/pages-ws-app/vitest.config.ts
  fixtures/remix-pages-app/vitest.config.ts
  fixtures/service-bindings-app/vitest.config.ts
  fixtures/worker-app/vitest.config.ts
  packages/cli/vitest.config.ts
  packages/create-cloudflare/vitest.config.ts
  packages/edge-preview-authenticated-proxy/vitest.config.ts
  packages/pages-shared/vitest.config.ts
  packages/workers-playground/vite.config.ts
  packages/workers.new/vitest.config.ts
  vitest.shared.ts
Labels: e2e

#4809 Fix typos in CORS headers for edge-preview workers
  packages/edge-preview-authenticated-proxy/src/index.ts
  packages/edge-preview-authenticated-proxy/tests/index.test.ts
  packages/playground-preview-worker/src/index.ts
  packages/playground-preview-worker/tests/index.test.ts
Labels: test:playground-worker, playground-worker

#4656 fix: ensure upstream_protocol is passed to the Worker
  .changeset/giant-kings-heal.md
  fixtures/worker-app/src/index.js
  fixtures/worker-app/tests/index.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/start-server.ts
Labels: e2e

#4812 fix: ensure that Origin header is rewritten as necessary
  .changeset/selfish-starfishes-cry.md
  fixtures/pages-d1-shim/tests/index.test.ts
  fixtures/pages-workerjs-directory/tests/index.test.ts
  fixtures/worker-app/src/index.js
  fixtures/worker-app/tests/index.test.ts
  packages/miniflare/src/workers/core/entry.worker.ts
Labels: e2e

#4846 Revert "build(deps): bump hono from 3.5.6 to 3.11.7 (#4608)"
  packages/playground-preview-worker/package.json
  packages/turbo-r2-archive/package.json
  packages/workers-playground/package.json
  pnpm-lock.yaml
Labels: playground-worker

#4819 [wranger] fix: createMetadataObject to use logging levels (#4265)
  .changeset/wet-lemons-wash.md
  packages/pages-shared/metadata-generator/createMetadataObject.ts
  packages/pages-shared/metadata-generator/types.ts
  packages/wrangler/src/miniflare-cli/assets.ts
Labels: pages, awaiting Cloudflare response

#4848 ci: only deploy Workers when pushing to special branches
  .github/workflows/worker-deploy-edge-preview-authenticated-proxy.yml
  .github/workflows/worker-format-errors-deploy.yml
  .github/workflows/worker-playground-preview-deploy-production.yml
  .github/workflows/worker-playground-preview-deploy-testing.yml
  packages/edge-preview-authenticated-proxy/package.json
  packages/format-errors/package.json
  packages/playground-preview-worker/package.json
  packages/playground-preview-worker/tests/index.test.ts
Labels: playground-worker
