Repository cloudflare/workers-sdk, pull requests merged in 2024-08, with the labels that each got.

#6392 print startup time in version upload
  .changeset/moody-baboons-wonder.md
  .changeset/witty-bats-drum.md
  packages/wrangler/e2e/helpers/normalize.ts
  packages/wrangler/e2e/versions.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/deployment-bundle/bundle-reporter.ts
  packages/wrangler/src/versions/upload.ts
  packages/wrangler/turbo.json
Labels: e2e

#6370 feat: Create very basic Asset Worker and plumb it into `wrangler dev`
  .changeset/orange-icons-build.md
  fixtures/workers-with-assets/README.md
  fixtures/workers-with-assets/package.json
  fixtures/workers-with-assets/public/index.html
  fixtures/workers-with-assets/tests/index.test.ts
  fixtures/workers-with-assets/tests/tsconfig.json
  fixtures/workers-with-assets/tsconfig.json
  fixtures/workers-with-assets/wrangler.toml
  packages/workers-shared/README.md
  packages/workers-shared/asset-server-worker/README.md
  packages/workers-shared/asset-server-worker/src/index.ts
  packages/workers-shared/asset-server-worker/wrangler.toml
  packages/workers-shared/package.json
  packages/workers-shared/turbo.json
  packages/wrangler/package.json
  packages/wrangler/scripts/deps.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/api/startDevWorker/LocalRuntimeController.ts
  packages/wrangler/src/api/startDevWorker/types.ts
  packages/wrangler/src/deployment-bundle/entry.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/templates/no-op-assets-worker.ts
  pnpm-lock.yaml
Labels: e2e

#6432 fix: do not try to load in @cloudflare/workers-shared if not using experimental-assets
  .changeset/quiet-lizards-play.md
  packages/wrangler/package.json
  packages/wrangler/src/dev/miniflare.ts
  pnpm-lock.yaml
Labels: e2e

#6383 feat: support outputing ND-JSON files via an environment variable
  .changeset/strong-rats-confess.md
  packages/wrangler/src/__tests__/output.test.ts
  packages/wrangler/src/__tests__/versions/versions.deploy.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/environment-variables/factory.ts
  packages/wrangler/src/environment-variables/misc-variables.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/metrics/metrics-config.ts
  packages/wrangler/src/output.ts
  packages/wrangler/src/utils/filesystem.ts
  packages/wrangler/src/versions/deploy.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/upload.ts
Labels: e2e

#6445 feat(wrangler) - allow `wrangler deploy` to deploy static assets only
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/helpers/mock-upload-worker.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/entry.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/experimental-assets.ts
  packages/wrangler/src/pages/upload.tsx
  packages/wrangler/src/sites.ts
Labels: e2e

#6455 fix: ensure that directory imports in commonjs modules get resolved to their index file
  .changeset/dry-cobras-smash.md
  fixtures/vitest-pool-workers-examples/internal-module-resolution/README.md
  fixtures/vitest-pool-workers-examples/internal-module-resolution/test/index.d.ts
  fixtures/vitest-pool-workers-examples/internal-module-resolution/test/index.spec.ts
  fixtures/vitest-pool-workers-examples/internal-module-resolution/test/tsconfig.json
  fixtures/vitest-pool-workers-examples/internal-module-resolution/tsconfig.json
  fixtures/vitest-pool-workers-examples/internal-module-resolution/vendor/ext-dep/index.js
  fixtures/vitest-pool-workers-examples/internal-module-resolution/vendor/ext-dep/package.json
  fixtures/vitest-pool-workers-examples/internal-module-resolution/vendor/ext-dep/subfolder/index.js
  fixtures/vitest-pool-workers-examples/internal-module-resolution/vitest.config.ts
  fixtures/vitest-pool-workers-examples/internal-module-resolution/wrangler.toml
  fixtures/vitest-pool-workers-examples/package.json
  packages/vitest-pool-workers/src/pool/module-fallback.ts
  pnpm-lock.yaml
Labels: e2e, vitest

#6454 feat(wrangler) - add assets to versions upload
  packages/wrangler/e2e/versions.test.ts
  packages/wrangler/src/api/pages/create-worker-bundle-contents.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/experimental-assets.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/secrets/index.ts
  packages/wrangler/src/versions/upload.ts
Labels: e2e

#6409 Update e2e tests to use startWorker directly
  packages/wrangler/e2e/dev-env.test.ts
  packages/wrangler/e2e/startWorker.test.ts
Labels: e2e

#6469 chore(create-cloudflare): remove unnecessary assertion in wrangler init test
  packages/wrangler/e2e/c3-integration.test.ts
Labels: e2e

#6478 fix(wrangler) - remove e2e for `versions upload --experimental-assets`
  packages/wrangler/e2e/versions.test.ts
Labels: e2e

#6424 add "increase_websocket_message_size" compat flag to `InspectorProxyWorker`
  .changeset/spicy-adults-thank.md
  packages/wrangler/e2e/startWorker.test.ts
  packages/wrangler/src/api/startDevWorker/ProxyController.ts
Labels: e2e

#6479 Support setting custom HTTPS certification paths from environment variables
  .changeset/tall-lions-explode.md
  packages/wrangler/src/__tests__/configuration.pages.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/d1/migrate.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/__tests__/helpers/mock-account-id.ts
  packages/wrangler/src/__tests__/https-options.test.ts
  packages/wrangler/src/__tests__/init.test.ts
  packages/wrangler/src/__tests__/logger.test.ts
  packages/wrangler/src/__tests__/metrics.test.ts
  packages/wrangler/src/__tests__/middleware.test.ts
  packages/wrangler/src/__tests__/output.test.ts
  packages/wrangler/src/__tests__/package-manager.test.ts
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/__tests__/pages/functions-build.test.ts
  packages/wrangler/src/__tests__/pages/pages-build-env.test.ts
  packages/wrangler/src/__tests__/pages/pages-deployment-tail.test.ts
  packages/wrangler/src/__tests__/pages/project-upload.test.ts
  packages/wrangler/src/__tests__/user.test.ts
  packages/wrangler/src/__tests__/whoami.test.ts
  packages/wrangler/src/environment-variables/factory.ts
  packages/wrangler/src/https-options.ts
  packages/wrangler/vitest.config.mts
Labels: e2e

#6487 feat(wrangler) - add assets binding to wrangler deploy
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/api/pages/create-worker-bundle-contents.ts
  packages/wrangler/src/api/startDevWorker/utils.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/experimental-assets.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/secrets/index.ts
  packages/wrangler/src/versions/upload.ts
Labels: e2e

#6506 skip python remote e2e tests
  packages/wrangler/e2e/dev.test.ts
Labels: e2e

#6483 add remote-mode to startWorker e2e tests
  packages/wrangler/e2e/startWorker.test.ts
  packages/wrangler/e2e/vitest.config.mts
  packages/wrangler/e2e/vitest.setup.ts
  packages/wrangler/src/api/startDevWorker/LocalRuntimeController.ts
  packages/wrangler/src/api/startDevWorker/ProxyController.ts
  packages/wrangler/templates/startDevWorker/ProxyWorker.ts
Labels: e2e

#6508 fix: move the Windows C++ redistributable warning so it is only shown if there is an actual access violation
  .changeset/tasty-mayflies-march.md
  .vscode/settings.json
  fixtures/worker-app/src/index.js
  fixtures/worker-app/tests/index.test.ts
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/miniflare.ts
  pnpm-lock.yaml
Labels: e2e

#6458 Optionally strip cf-ew-raw prefix
  .changeset/smart-tomatoes-sell.md
  packages/edge-preview-authenticated-proxy/src/index.ts
  packages/edge-preview-authenticated-proxy/tests/index.test.ts
  packages/playground-preview-worker/src/index.ts
  packages/playground-preview-worker/tests/index.test.ts
Labels: playground-worker

#6530 Fixed versions upload printing duplicate bindings
  .changeset/rich-rocks-own.md
  packages/wrangler/src/__tests__/versions/versions.upload.test.ts
  packages/wrangler/src/versions/upload.ts
Labels: e2e

#4738 Fix CSP:script-src in 0015-Basic-support-for-Safari.patch (#4737)
  .changeset/serious-eyes-admire.md
  packages/wrangler-devtools/patches/0015-Basic-support-for-Safari.patch
Labels: preview:wrangler-devtools

#6539 feat(workers-shared): Add Asset Server Worker behaviour
  .changeset/dull-ants-check.md
  fixtures/workers-with-assets/public/README.md
  fixtures/workers-with-assets/public/lava-lamps.jpg
  fixtures/workers-with-assets/public/yay.txt
  fixtures/workers-with-assets/tests/index.test.ts
  packages/miniflare/src/workers/kv/assets.worker.ts
  packages/workers-shared/asset-server-worker/src/assets-manifest.ts
  packages/workers-shared/asset-server-worker/src/constants.ts
  packages/workers-shared/asset-server-worker/src/global.d.ts
  packages/workers-shared/asset-server-worker/src/index.ts
  packages/workers-shared/asset-server-worker/src/responses.ts
  packages/workers-shared/asset-server-worker/src/utils/headers.ts
  packages/workers-shared/asset-server-worker/src/utils/kv.ts
  packages/workers-shared/asset-server-worker/tests/headers.test.ts
  packages/workers-shared/asset-server-worker/tests/kv.test.ts
  packages/workers-shared/asset-server-worker/tests/tsconfig.json
  packages/workers-shared/asset-server-worker/wrangler.toml
  packages/workers-shared/package.json
  packages/workers-shared/tsconfig.json
  packages/workers-shared/vitest.config.mts
  packages/wrangler/src/dev/miniflare.ts
  pnpm-lock.yaml
Labels: e2e

#6554 fix: ignore nodejs_compat flags in runtime type generation
  .changeset/mean-beers-search.md
  packages/wrangler/e2e/types.test.ts
  packages/wrangler/src/type-generation/runtime/index.ts
Labels: e2e

#6563 chore: remove the warning about local mode flag being removed in the future
  .changeset/clean-rockets-decide.md
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/src/dev.tsx
Labels: e2e

#6497 GA versions/deployments commands
  .changeset/mighty-seas-change.md
  .changeset/thirty-boats-knock.md
  packages/wrangler/e2e/deployments.test.ts
  packages/wrangler/e2e/versions.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/deprecated-usage-model.test.ts
  packages/wrangler/src/__tests__/helpers/mock-upload-worker.ts
  packages/wrangler/src/__tests__/helpers/msw/handlers/versions.ts
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/versions/deployments/deployments.list.test.ts
  packages/wrangler/src/__tests__/versions/versions.help.test.ts
  packages/wrangler/src/__tests__/versions/versions.list.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/parse.ts
  packages/wrangler/src/utils/deployment-id-version-id-change.ts
  packages/wrangler/src/versions/deployments/list.ts
  packages/wrangler/src/versions/list.ts
  packages/wrangler/src/versions/rollback/index.ts
  packages/wrangler/src/versions/types.ts
Labels: e2e

#6574 feat(wrangler): watch mode for Workers + Assets
  .changeset/hungry-candles-knock.md
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/helpers/e2e-wrangler-test.ts
  packages/wrangler/e2e/helpers/setup.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/dev.tsx
Labels: e2e
