Repository cloudflare/workers-sdk, pull requests merged in 2024-02, with the labels that each got.

#4901 Python support
  .changeset/smooth-goats-watch.md
  fixtures/python-worker/requirements.txt
  fixtures/python-worker/src/arith.py
  fixtures/python-worker/src/index.py
  fixtures/python-worker/src/other.py
  fixtures/python-worker/wrangler.toml
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/bundle-type.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/guess-worker-format.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/type-generation.ts
Labels: e2e, python

#4955 Update prefixes for e2e tests to cleanup all e2e workers
  .github/workflows/c3-e2e-project-cleanup.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/scripts/common.ts
  packages/create-cloudflare/scripts/e2eCleanup.ts
  packages/wrangler/e2e/c3-integration.test.ts
  packages/wrangler/e2e/deployments.test.ts
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/pages-dev.test.ts
Labels: e2e

#4899 chore: bump vite and vitest to latest versions
  fixtures/additional-modules/test/index.test.ts
  fixtures/interactive-dev-tests/vitest.config.ts
  fixtures/local-mode-tests/tests/module.test.ts
  fixtures/local-mode-tests/tests/sw.test.ts
  package.json
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/edge-preview-authenticated-proxy/tests/index.test.ts
  packages/pages-shared/__tests__/asset-server/responses.test.ts
  packages/workers.new/tests/__snapshots__/index.test.ts.snap
  packages/wrangler/e2e/r2.test.ts
  packages/wrangler/package.json
  pnpm-lock.yaml
  vitest.shared.ts
Labels: e2e

#5004 Use partitioned cookies
  packages/playground-preview-worker/src/index.ts
  packages/playground-preview-worker/tests/index.test.ts
  packages/workers-playground/.env.development
  packages/workers-playground/README.md
  packages/workers-playground/src/QuickEditor/HTTPTab/HTTPTab.tsx
  packages/workers-playground/src/QuickEditor/ToolsPane.tsx
  packages/workers-playground/vite.config.ts
Labels: playground-worker

#4900 Add feature to use environment variable for Hyperdrive local dev connection string
  .changeset/khaki-feet-exist.md
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/environment-variables/factory.ts
Labels: enhancement

#5022 fix e2e test failures
  packages/wrangler/e2e/helpers/normalize.ts
  packages/wrangler/src/dev.tsx
Labels: e2e

#3109 fix(startApiDev): pass `accountId` to `startDevServer`
  packages/wrangler/src/dev.tsx
Labels: bug, start-dev-worker, unstable_dev

#4475 feat: Custom https cert
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/startDevWorker/ProxyController.ts
  packages/wrangler/src/api/startDevWorker/types.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/proxy.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/https-options.ts
  packages/wrangler/src/pages/dev.ts
  pnpm-lock.yaml
Labels: enhancement

#5050 [KV] Fix kv:namespace create name validation
  .changeset/lovely-dolls-taste.md
  packages/wrangler/src/__tests__/kv.test.ts
  packages/wrangler/src/__tests__/utils/getValidBindingName.test.ts
  packages/wrangler/src/kv/helpers.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/utils/getValidBindingName.ts
Labels: polish, bug, wrangler

#4957 Remove stripping .py extensions and bump workerd version
  .changeset/chilled-mayflies-beam.md
  packages/miniflare/package.json
  packages/miniflare/test/index.spec.ts
  packages/miniflare/test/plugins/d1/suite.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/dev/miniflare.ts
  pnpm-lock.yaml
Labels: awaiting reporter response, python

#4303 Avoid blocking built-in node modules when using --no-bundle flag
  .changeset/brave-years-wave.md
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/api/pages/deploy.tsx
  packages/wrangler/src/pages/dev.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Labels: pages, bug

#4742 Implemented preserve_file_names config
  .changeset/happy-tools-approve.md
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
Labels: enhancement

#5107 Better messaging in remote mode
  .changeset/tame-needles-give.md
  .changeset/tasty-jokes-provide.md
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/helpers/account-id.ts
  packages/wrangler/e2e/helpers/wrangler-command.ts
  packages/wrangler/e2e/validate-environment.ts
  packages/wrangler/e2e/vitest.config.ts
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/__tests__/zones.test.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/create-worker-preview.ts
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/validate-dev-props.ts
  packages/wrangler/src/zones.ts
Labels: e2e
