Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @khulnasoft/triangle, @khulnasoft/triangle-admins, @cloudflare/pages, @jculvey, @RamIdeas, @petebacondarwin, @cloudflare/wrangler, @cloudflare/wrangler-admins, @cloudflare/d1, @cloudflare/c3

Parse deployment url from c3 run output. Fix hono expectations
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Update workflows for maintenance branch to run releases and prereleases (#3770)
  .github/workflows/main.yml
  .github/workflows/prereleases.yml
  .github/workflows/release.yml
Owners: @cloudflare/wrangler

C3: Improve e2e testing reliability (#3686)
  .github/actions/install-dependencies/action.yml
  .github/workflows/test-c3.yml
  package-lock.json
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/e2e-tests/workers.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/scripts/cleanupPagesProject.mjs
  packages/create-cloudflare/scripts/e2eCleanup.mjs
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/frameworks/next/index.ts
  packages/create-cloudflare/src/frameworks/react/index.ts
  packages/create-cloudflare/src/frameworks/versionMap.json
  packages/create-cloudflare/src/helpers/command.ts
  packages/create-cloudflare/src/helpers/packages.ts
  packages/create-cloudflare/src/pages.ts
  packages/create-cloudflare/turbo.json
  packages/create-cloudflare/vitest-e2e.config.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

c3 add final commit to pages projects
  .changeset/nasty-dolphins-prove.md
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/pages.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

move framework commit message generation inside gitCommit
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/pages.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

add framework cli name and version to framework commit
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/frameworks/angular/index.ts
  packages/create-cloudflare/src/frameworks/astro/index.ts
  packages/create-cloudflare/src/frameworks/cliMap.json
  packages/create-cloudflare/src/frameworks/docusaurus/index.ts
  packages/create-cloudflare/src/frameworks/gatsby/index.ts
  packages/create-cloudflare/src/frameworks/hono/index.ts
  packages/create-cloudflare/src/frameworks/index.ts
  packages/create-cloudflare/src/frameworks/next/index.ts
  packages/create-cloudflare/src/frameworks/nuxt/index.ts
  packages/create-cloudflare/src/frameworks/qwik/index.ts
  packages/create-cloudflare/src/frameworks/react/index.ts
  packages/create-cloudflare/src/frameworks/remix/index.ts
  packages/create-cloudflare/src/frameworks/solid/index.ts
  packages/create-cloudflare/src/frameworks/svelte/index.ts
  packages/create-cloudflare/src/frameworks/versionMap.json
  packages/create-cloudflare/src/frameworks/vue/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

add package manager info to framework commit
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/helpers/packages.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

run prettify
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/frameworks/cliMap.json
  packages/create-cloudflare/src/frameworks/docusaurus/index.ts
  packages/create-cloudflare/src/frameworks/index.ts
  packages/create-cloudflare/src/frameworks/next/index.ts
  packages/create-cloudflare/src/frameworks/nuxt/index.ts
  packages/create-cloudflare/src/frameworks/qwik/index.ts
  packages/create-cloudflare/src/frameworks/react/index.ts
  packages/create-cloudflare/src/frameworks/svelte/index.ts
  packages/create-cloudflare/src/frameworks/vue/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

make commit header imperative
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

update Web to web
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

lowercase Create-Cloudflare
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

refactor generateFrameworkCommitMessage to generateCommit message
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

convert cliMap.json to package.json so that we can leverage dependabot
  packages/create-cloudflare/src/frameworks/cliMap.json
  packages/create-cloudflare/src/frameworks/index.ts
  packages/create-cloudflare/src/frameworks/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

add wrangler version to commit message
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

add git version to commit
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

run prettify
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

move comments to description field
  packages/create-cloudflare/src/frameworks/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

improve git version gathering
  packages/create-cloudflare/src/common.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Update packages/wrangler/src/pages/validate.tsx
  packages/wrangler/src/pages/validate.tsx
Owners: @cloudflare/pages, @cloudflare/wrangler

run C3 eyes only on internal PRs
  .github/workflows/test-c3.yml
Owners: @cloudflare/wrangler

amend if check
  .github/workflows/test-c3.yml
Owners: @cloudflare/wrangler

run C3 e2e tests only on internal PRs (#3777)
  .github/workflows/test-c3.yml
Owners: @cloudflare/wrangler

CODEOWNERS:

<<<<<<< HEAD
# Global owners

- @khulnasoft/triangle
  /packages/triangle/CHANGELOG.md @khulnasoft/triangle-admins
  /packages/pages-shared/ @cloudflare/pages
  /packages/triangle/pages/ @cloudflare/pages
  /packages/triangle/src/pages/ @cloudflare/pages
  /packages/triangle/src/pages.\* @cloudflare/pages
  /packages/create-cloudflare/ @jculvey @RamIdeas @petebacondarwin
=======
* @cloudflare/wrangler

/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins

/.changeset/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1 @cloudflare/c3
/fixtures/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1

/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler

/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler
>>>>>>> da9ba3c855317c6071eb892def4965706f2fb97f
