Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/deploy-config, @cloudflare/pages, @cloudflare/d1, @cloudflare/cloudchamber, @cloudflare/c3, @cloudflare/kv, @cloudflare/workflows, @cloudflare/wrangler-admins

CODEOWNERS:

* @cloudflare/wrangler

# D&C ownership
/packages/workers-shared @cloudflare/deploy-config @cloudflare/wrangler

# Pages ownership
/packages/pages-shared/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

# D1 ownership
/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/__tests__/d1/ @cloudflare/d1 @cloudflare/wrangler

# Cloudchamber ownership
/packages/wrangler/src/cloudchamber/ @cloudflare/cloudchamber @cloudflare/wrangler

# C3 ownership
/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Workers KV ownership
/packages/wrangler/src/kv @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.local.test.ts @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.test.ts @cloudflare/kv @cloudflare/wrangler

# kv-asset-handler ownership
/packages/kv-asset-handler/ @cloudflare/wrangler

# Workflows ownership
/packages/workflows-shared/ @cloudflare/workflows @cloudflare/wrangler

# Owners intentionally left blank on these shared directories / files
# to avoid noisy review requests
/.changeset/
/fixtures/
pnpm-lock.yaml

# Only wrangler-admins are needed to approve releases
# Product teams can request hold on release by reaching out to wrangler-admins
**/CHANGELOG.md @cloudflare/wrangler-admins
**/package.json @cloudflare/wrangler

# To allow dependabot updates to C3 frameworks to be approved by C3 team
/packages/create-cloudflare/**/package.json @cloudflare/wrangler @cloudflare/c3

fixup! format
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-compat.ts
Owners: @cloudflare/wrangler

refactor: cleanup & simplify
  packages/wrangler/src/deployment-bundle/esbuild-plugins/hybrid-nodejs-compat.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-compat.ts
Owners: @cloudflare/wrangler

Update packages/wrangler/src/deployment-bundle/esbuild-plugins/hybrid-nodejs-compat.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/hybrid-nodejs-compat.ts
Owners: @cloudflare/wrangler

chore: update esbuild
  .changeset/proud-otters-bow.md
  fixtures/wildcard-modules/package.json
  fixtures/wildcard-modules/src/common.cjs
  fixtures/wildcard-modules/src/dep.ts
  fixtures/wildcard-modules/src/dynamic.js
  fixtures/wildcard-modules/src/index.ts
  fixtures/wildcard-modules/src/lang/en.js
  fixtures/wildcard-modules/src/lang/fr.js
  fixtures/wildcard-modules/src/text.d.ts
  fixtures/wildcard-modules/src/text.txt
  fixtures/wildcard-modules/test/index.test.ts
  fixtures/wildcard-modules/test/tsconfig.json
  fixtures/wildcard-modules/tsconfig.json
  fixtures/wildcard-modules/turbo.json
  fixtures/wildcard-modules/vitest.config.mts
  fixtures/wildcard-modules/wrangler.toml
  package.json
  packages/cli/package.json
  packages/create-cloudflare/package.json
  packages/miniflare/package.json
  packages/quick-edit-extension/package.json
  packages/vitest-pool-workers/package.json
  packages/workers-shared/package.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/api/startDevWorker/BundleController.test.ts
  packages/wrangler/src/__tests__/middleware.test.ts
  packages/wrangler/src/deployment-bundle/apply-middleware.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler, @cloudflare/c3

fix changeset
  .changeset/proud-otters-bow.md
Owners: none

lockfile + -wasm
  packages/wrangler/src/deployment-bundle/bundle.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

fix turbo
  fixtures/wildcard-modules/turbo.json
Owners: none

Use new config format for eslint
  .changeset/proud-otters-bow.md
Owners: none

fix lockfile
  pnpm-lock.yaml
Owners: none

fix lockfile
  pnpm-lock.yaml
Owners: none

remove dynamic import in tests
  fixtures/pages-workerjs-directory/public/_worker.js/index.js
Owners: none

clarify legacy assets -> sites naming
  packages/wrangler/e2e/versions.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/dev.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/entry.ts
  packages/wrangler/src/dev/remote.ts
  packages/wrangler/src/sites.ts
  packages/wrangler/src/versions/index.ts
Owners: @cloudflare/wrangler

Fix middleware tests
  .github/workflows/test-and-check.yml
  packages/wrangler/src/__tests__/middleware.test.ts
Owners: @cloudflare/wrangler

Update wrangler.toml
  packages/create-cloudflare/templates-experimental/astro/templates/wrangler.toml
Owners: @cloudflare/c3, @cloudflare/wrangler

refactor(wrangler): Explicitely pick node compat plugins for each mode (#7387)
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/hybrid-nodejs-compat.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-compat.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-plugins.ts
Owners: @cloudflare/wrangler

Create W
  W
Owners: @cloudflare/wrangler

added: changeset
  .changeset/witty-dolphins-appear.md
Owners: none

fixed: related to issues-7341 AngularAppEngine class does not have .render, instead it should be .handle method
  packages/create-cloudflare/templates/angular/templates/src/server.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Tidy up changeset
  .changeset/witty-dolphins-appear.md
Owners: none

fix Angular template
  packages/create-cloudflare/templates/angular/c3.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix: error in angular c3 template (#7342)
  .changeset/witty-dolphins-appear.md
  packages/create-cloudflare/templates/angular/c3.ts
  packages/create-cloudflare/templates/angular/templates/src/server.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

update timeout limit
  packages/miniflare/src/workers/queues/schemas.ts
Owners: @cloudflare/wrangler

Remove v2 warning (#7228)
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

changeset
  .changeset/sour-pugs-agree.md
Owners: none

Fix --assets tests on Node 20 & 22
  packages/wrangler/src/__tests__/deploy.test.ts
Owners: @cloudflare/wrangler

fix: update Angular experimental Workers + Assets template
  .changeset/little-suns-bathe.md
  packages/create-cloudflare/templates-experimental/angular/c3.ts
  packages/create-cloudflare/templates-experimental/angular/templates/server.ts
  packages/create-cloudflare/templates-experimental/angular/templates/src/server.ts
  packages/create-cloudflare/templates-experimental/angular/templates/tools/alter-polyfills.mjs
Owners: @cloudflare/c3, @cloudflare/wrangler

chore: update esbuild (#6884)
  .changeset/proud-otters-bow.md
  .github/workflows/test-and-check.yml
  fixtures/pages-workerjs-directory/public/_worker.js/index.js
  fixtures/wildcard-modules/package.json
  fixtures/wildcard-modules/src/common.cjs
  fixtures/wildcard-modules/src/dep.ts
  fixtures/wildcard-modules/src/dynamic.js
  fixtures/wildcard-modules/src/index.ts
  fixtures/wildcard-modules/src/lang/en.js
  fixtures/wildcard-modules/src/lang/fr.js
  fixtures/wildcard-modules/src/text.d.ts
  fixtures/wildcard-modules/src/text.txt
  fixtures/wildcard-modules/test/index.test.ts
  fixtures/wildcard-modules/test/tsconfig.json
  fixtures/wildcard-modules/tsconfig.json
  fixtures/wildcard-modules/turbo.json
  fixtures/wildcard-modules/vitest.config.mts
  fixtures/wildcard-modules/wrangler.toml
  package.json
  packages/cli/package.json
  packages/create-cloudflare/package.json
  packages/miniflare/package.json
  packages/quick-edit-extension/package.json
  packages/vitest-pool-workers/package.json
  packages/workers-shared/package.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/api/startDevWorker/BundleController.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/middleware.test.ts
  packages/wrangler/src/deployment-bundle/apply-middleware.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler, @cloudflare/c3

fprmating
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/route.test.ts
Owners: @cloudflare/wrangler

Add workflow
  .github/workflows/open-v3-maintenance-prs.yml
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

test changeset
  .changeset/thin-items-turn.md
Owners: none

add body
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

typo
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

Add a commit
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

Ignore failures
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

Change base
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

Prevent infinite loop
  .github/workflows/open-v3-maintenance-prs.yml
  tools/deployments/open-v3-pr.ts
Owners: @cloudflare/wrangler

ci: enable tests on experimental Workers + Assets C3 templates
  packages/create-cloudflare/e2e-tests/frameworks.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Add newline to prepended name and compatibility_date in wrangler.toml
  packages/create-cloudflare/src/wrangler/__tests__/config.test.ts
  packages/create-cloudflare/src/wrangler/config.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Remove await from user Worker fetch in router-worker
  .changeset/gorgeous-paws-compare.md
  packages/workers-shared/router-worker/src/index.ts
Owners: @cloudflare/deploy-config, @cloudflare/wrangler

test
  packages/miniflare/test/plugins/queues/index.spec.ts
Owners: @cloudflare/wrangler
