Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @rozenmd, @petebacondarwin, @cloudflare/pages

CODEOWNERS:

# Global owners
* @rozenmd @petebacondarwin
/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages
/packages/wrangler/src/pages/ @cloudflare/pages
/packages/wrangler/src/pages.* @cloudflare/pages

new metadata binding type (#2096)
  .changeset/rich-bears-press.md
  packages/wrangler/src/__tests__/api-dev.test.ts
  packages/wrangler/src/__tests__/api-devregistry.test.js
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Revert "new metadata binding type (#2096)"
  .changeset/rich-bears-press.md
  packages/wrangler/src/__tests__/api-dev.test.ts
  packages/wrangler/src/__tests__/api-devregistry.test.js
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Revert metabindings & polish deployments metabindings is going to be revisited. Minor tweaks to deployments to improve the information being given to the user.
  packages/wrangler/src/__tests__/api-dev.test.ts
  packages/wrangler/src/__tests__/api-devregistry.test.js
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Fix up loaders and tidy
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/miniflare-cli/index.ts
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/templates/pages-dev-util.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Add D1 test
  fixtures/pages-d1-shim/functions/bar.ts
  fixtures/pages-d1-shim/package.json
  fixtures/pages-d1-shim/public/index.html
  fixtures/pages-d1-shim/tests/index.test.ts
  fixtures/pages-d1-shim/tsconfig.json
Owners: @rozenmd, @petebacondarwin

Revert "new metadata binding type" (#2156)
  .changeset/rich-bears-press.md
  packages/wrangler/src/__tests__/api-devregistry.test.js
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Pages Functions bundling refactor, fix D1 bindings and fix _worker.js import blocking
  .changeset/many-ducks-hammer.md
  .changeset/plenty-carrots-fold.md
  .changeset/young-poets-battle.md
  fixtures/pages-d1-shim/functions/bar.ts
  fixtures/pages-d1-shim/package.json
  fixtures/pages-d1-shim/public/index.html
  fixtures/pages-d1-shim/tests/index.test.ts
  fixtures/pages-d1-shim/tsconfig.json
  fixtures/pages-workerjs-app/tests/index.test.ts
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/pages/publish.tsx
  packages/wrangler/src/pages/utils.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

fix: throw only if error code isnt 10023
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Create old-planes-add.md
  .changeset/old-planes-add.md
Owners: @rozenmd, @petebacondarwin

fix: throw only if error code isnt 10023 (#2159)
  .changeset/old-planes-add.md
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Update error code for queue_not_found
  .changeset/violet-dancers-fix.md
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Fix Var string type The type was not being coerced to a string, so TypeScript considered it a unresolved type.
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

Changeset
  .changeset/yellow-files-argue.md
Owners: @rozenmd, @petebacondarwin

Update error code for queue_not_found (#2161)
  .changeset/violet-dancers-fix.md
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

snapshot test update
  packages/wrangler/src/__tests__/type-generation.test.ts
Owners: @rozenmd, @petebacondarwin

[Fix] `vars` string type (#2165)
  .changeset/yellow-files-argue.md
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

Put a space in active message
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/deployments.ts
Owners: @rozenmd, @petebacondarwin

Put a space in active message (#2167)
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/deployments.ts
Owners: @rozenmd, @petebacondarwin

Validate object size for wrangler r2 put
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

Don't export MAX_UPLOAD_SIZE
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

Create old-doors-enjoy.md
  .changeset/old-doors-enjoy.md
Owners: @rozenmd, @petebacondarwin

Add tests, move MAX_UPLOAD_SIZE to helpers.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/r2/helpers.ts
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

move MAX_UPLOAD_SIZE to constants.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/r2/constants.ts
  packages/wrangler/src/r2/helpers.ts
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

Apply suggestions from code review
  packages/wrangler/src/__tests__/r2.test.ts
Owners: @rozenmd, @petebacondarwin

Update packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/__tests__/r2.test.ts
Owners: @rozenmd, @petebacondarwin

run prettier
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

Validate object size for wrangler r2 put (#2172)
  .changeset/old-doors-enjoy.md
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/r2/constants.ts
  packages/wrangler/src/r2/index.ts
Owners: @rozenmd, @petebacondarwin

feat: Tails for Pages
  .changeset/pink-lies-dress.md
  packages/wrangler/src/__tests__/pages-deployment-tail.test.ts
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/metrics/send-event.ts
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/deployment-tails.tsx
  packages/wrangler/src/pages/deployments.tsx
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/functions.tsx
  packages/wrangler/src/pages/index.tsx
  packages/wrangler/src/pages/prompt-select-project.tsx
  packages/wrangler/src/pages/publish.tsx
  packages/wrangler/src/pages/types.ts
  packages/wrangler/src/pages/upload.tsx
  packages/wrangler/src/tail/createTail.ts
  packages/wrangler/src/yargs-types.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

chore: Address PR feedback for tails
  packages/wrangler/src/__tests__/pages-deployment-tail.test.ts
  packages/wrangler/src/pages/deployment-tails.tsx
  packages/wrangler/src/pages/index.tsx
  packages/wrangler/src/pages/utils.ts
  packages/wrangler/src/tail/createTail.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

chore: Fix arg validation ordering
  packages/wrangler/src/pages/deployment-tails.tsx
  packages/wrangler/src/pages/utils.ts
Owners: @cloudflare/pages

Envelope Pages tail filters
  packages/wrangler/src/__tests__/pages-deployment-tail.test.ts
Owners: @rozenmd, @petebacondarwin

chore: Fix whitespace in output
  packages/wrangler/src/__tests__/pages-deployment-tail.test.ts
  packages/wrangler/src/pages/deployment-tails.tsx
  packages/wrangler/src/pages/index.tsx
  packages/wrangler/src/pages/utils.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Install `libc++1` in GitHub actions jobs
  .github/workflows/codecov-context.yml
  .github/workflows/create-pullrequest-prerelease.yml
  .github/workflows/d1.yml
  .github/workflows/experimental-wasm-release.yml
  .github/workflows/prereleases.yml
  .github/workflows/pullrequests.yml
  .github/workflows/queues.yml
  .github/workflows/release.yml
Owners: @rozenmd, @petebacondarwin

use the `main` field instead of `browser` if `node-compat` is enabled
  .changeset/slimy-parents-itch.md
  packages/wrangler/src/bundle.ts
Owners: @rozenmd, @petebacondarwin

Trigger login flow if a user runs `wrangler dev` while logged out
  .changeset/bright-donkeys-pay.md
  packages/wrangler/src/dev.tsx
Owners: @rozenmd, @petebacondarwin

Install `libc++1` in GitHub actions jobs (#2173)
  .github/workflows/codecov-context.yml
  .github/workflows/create-pullrequest-prerelease.yml
  .github/workflows/d1.yml
  .github/workflows/experimental-wasm-release.yml
  .github/workflows/prereleases.yml
  .github/workflows/pullrequests.yml
  .github/workflows/queues.yml
  .github/workflows/release.yml
Owners: @rozenmd, @petebacondarwin

use 🇶 instead of 🆀 for queues
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/queues.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

fix: skip fragile tests
  packages/wrangler/src/__tests__/generate.test.ts
Owners: @rozenmd, @petebacondarwin

fix: skip fragile tests (#2183)
  packages/wrangler/src/__tests__/generate.test.ts
Owners: @rozenmd, @petebacondarwin

Updated D1 shim
  packages/wrangler/templates/d1-beta-facade.js
Owners: @rozenmd, @petebacondarwin
