Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/deploy-config, @cloudflare/pages, @cloudflare/d1, @cloudflare/cloudchamber, @cloudflare/c3, @cloudflare/kv, @cloudflare/workflows, @cloudflare/wrangler-admins

remove only
  packages/miniflare/test/plugins/queues/index.spec.ts
Owners: @cloudflare/wrangler

Remove await from user Worker fetch in router-worker (#7410)
  .changeset/gorgeous-paws-compare.md
  packages/workers-shared/router-worker/src/index.ts
Owners: @cloudflare/deploy-config, @cloudflare/wrangler

fix: update Angular experimental Workers + Assets template (#7409)
  .changeset/little-suns-bathe.md
  packages/create-cloudflare/e2e-tests/frameworks.test.ts
  packages/create-cloudflare/templates-experimental/angular/c3.ts
  packages/create-cloudflare/templates-experimental/angular/templates/server.ts
  packages/create-cloudflare/templates-experimental/angular/templates/src/server.ts
  packages/create-cloudflare/templates-experimental/angular/templates/tools/alter-polyfills.mjs
Owners: @cloudflare/c3, @cloudflare/wrangler

fix: update queues max_batch_timeout in miniflare (#7399)
  .changeset/sour-pugs-agree.md
  packages/miniflare/src/workers/queues/schemas.ts
  packages/miniflare/test/plugins/queues/index.spec.ts
Owners: @cloudflare/wrangler

SQC-352 SQC-353 Create cert upload command for client side mtls certificates and ca chain certificates
  packages/wrangler/src/__tests__/cert.test.ts
  packages/wrangler/src/api/index.ts
  packages/wrangler/src/api/mtls-certificate.ts
  packages/wrangler/src/cert/cli.ts
  packages/wrangler/src/index.ts
Owners: @cloudflare/wrangler

chore: update dependencies of "miniflare" package
  .changeset/dependabot-update-7418.md
Owners: none

refactor: move projectRoot computation to config validation
  fixtures/import-npm/package-lock.json
  packages/wrangler/src/__tests__/api/startDevWorker/LocalRuntimeController.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/find-additional-modules.test.ts
  packages/wrangler/src/__tests__/get-entry.test.ts
  packages/wrangler/src/__tests__/navigator-user-agent.test.ts
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/api/startDevWorker/BundlerController.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/validation-pages.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/d1/execute.ts
  packages/wrangler/src/d1/migrations/helpers.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/entry.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/deployment-bundle/resolve-entry.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/upload.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1

chore: convert file registry to class and add tests
  .changeset/short-terms-leave.md
  packages/wrangler/src/__tests__/file-registry.test.ts
  packages/wrangler/src/dev-registry/FilesystemWorkerRegistry.ts
  packages/wrangler/src/dev-registry/file-registry.ts
  packages/wrangler/src/dev-registry/index.ts
  packages/wrangler/src/dev-registry/server-worker-registry.ts
  packages/wrangler/src/dev-registry/types.ts
Owners: @cloudflare/wrangler

chore: register once
  packages/wrangler/src/dev-registry/FilesystemWorkerRegistry.ts
Owners: @cloudflare/wrangler

refactor: move projectRoot computation to config validation (#7415)
  fixtures/import-npm/package-lock.json
  packages/wrangler/src/__tests__/api/startDevWorker/LocalRuntimeController.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/find-additional-modules.test.ts
  packages/wrangler/src/__tests__/get-entry.test.ts
  packages/wrangler/src/__tests__/navigator-user-agent.test.ts
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/api/startDevWorker/BundlerController.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/validation-pages.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/d1/execute.ts
  packages/wrangler/src/d1/migrations/helpers.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/entry.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/deployment-bundle/resolve-entry.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/upload.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1

ci: don't watch for changes on the workers-shared test:ci job
  packages/workers-shared/package.json
Owners: @cloudflare/wrangler

chore: update dependencies of "create-cloudflare" package
  .changeset/c3-frameworks-update-7419.md
Owners: none

add changeset
  .changeset/tall-flowers-move.md
Owners: none

add test
  packages/wrangler/src/__tests__/deploy.test.ts
Owners: @cloudflare/wrangler

feat(wrangler): add inherit bindings support
  packages/wrangler/src/api/pages/create-worker-bundle-contents.ts
  packages/wrangler/src/api/startDevWorker/RemoteRuntimeController.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/provision.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/pages/dev.ts
  packages/wrangler/src/versions/upload.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

rename file to bindings
  packages/wrangler/src/api/pages/create-worker-bundle-contents.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/bindings.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/versions/upload.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

refactor: remove missed redundant computation of `projectRoot`
  packages/wrangler/src/__tests__/get-entry.test.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/deployment-bundle/entry.ts
Owners: @cloudflare/wrangler

test: do not watch test files in workflow fixture test jobs
  fixtures/workflow-multiple/package.json
  fixtures/workflow/package.json
Owners: @cloudflare/wrangler

Add Images binding
  .changeset/beige-chicken-sort.md
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/api/pages/create-worker-bundle-contents.ts
  packages/wrangler/src/api/startDevWorker/types.ts
  packages/wrangler/src/api/startDevWorker/utils.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/init.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/versions/upload.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

Add Images remote preview mode
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/images/fetcher.ts
Owners: @cloudflare/wrangler

Plumb images local mode flag through
  packages/wrangler/src/__tests__/dev.test.ts
  packages/wrangler/src/__tests__/pages/pages.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/integrations/platform/index.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/api/startDevWorker/LocalRuntimeController.ts
  packages/wrangler/src/api/startDevWorker/types.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/pages/dev.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

Add Images binding local mode
  packages/wrangler/package.json
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/images/fetcher.ts
  packages/wrangler/src/images/local.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

Rename serve_directly to experimental_serve_directly
  .changeset/six-coats-rule.md
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/assets.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
Owners: @cloudflare/wrangler

Rename serve_directly to experimental_serve_directly (#7429)
  .changeset/six-coats-rule.md
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/assets.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
Owners: @cloudflare/wrangler

chore: update dependencies of "miniflare" package
  .changeset/dependabot-update-7432.md
Owners: none

revert to hotfix
  .changeset/dependabot-update-7418.md
  fixtures/additional-modules/package.json
  fixtures/asset-config/package.json
  fixtures/get-platform-proxy/package.json
  fixtures/local-mode-tests/package.json
  fixtures/node-app-pages/package.json
  fixtures/nodejs-als-app/package.json
  fixtures/nodejs-hybrid-app/package.json
  fixtures/pages-dev-proxy-with-script/package.json
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-with-routes-app/package.json
  fixtures/pages-plugin-mounted-on-root-app/package.json
  fixtures/pages-simple-assets/package.json
  fixtures/vitest-pool-workers-examples/package.json
  fixtures/worker-ts/package.json
  fixtures/workers-with-assets-only/package.json
  fixtures/workers-with-assets/package.json
  fixtures/workflow-multiple/package.json
  fixtures/workflow/package.json
  package.json
  packages/create-cloudflare/package.json
  packages/edge-preview-authenticated-proxy/package.json
  packages/format-errors/package.json
  packages/kv-asset-handler/package.json
  packages/miniflare/package.json
  packages/pages-shared/package.json
  packages/playground-preview-worker/package.json
  packages/prerelease-registry/package.json
  packages/quick-edit-extension/package.json
  packages/vitest-pool-workers/package.json
  packages/workers-shared/package.json
  packages/workers.new/package.json
  packages/workflows-shared/package.json
  packages/wrangler/package.json
  pnpm-lock.yaml
Owners: @cloudflare/wrangler, @cloudflare/c3

fix lockfile
  pnpm-lock.yaml
Owners: none

Version Packages (#7358)
  .changeset/c3-frameworks-update-7359.md
  .changeset/cuddly-chicken-visit.md
  .changeset/dependabot-update-7418.md
  .changeset/four-zebras-deliver.md
  .changeset/gold-pandas-yell.md
  .changeset/gorgeous-paws-compare.md
  .changeset/hip-penguins-kiss.md
  .changeset/little-suns-bathe.md
  .changeset/lucky-carrots-sparkle.md
  .changeset/purple-coats-lick.md
  .changeset/seven-eels-reflect.md
  .changeset/shy-cups-grin.md
  .changeset/silly-news-compete.md
  .changeset/six-coats-rule.md
  .changeset/sour-pugs-agree.md
  .changeset/witty-dolphins-appear.md
  packages/create-cloudflare/CHANGELOG.md
  packages/create-cloudflare/package.json
  packages/miniflare/CHANGELOG.md
  packages/miniflare/package.json
  packages/pages-shared/CHANGELOG.md
  packages/pages-shared/package.json
  packages/vitest-pool-workers/CHANGELOG.md
  packages/vitest-pool-workers/package.json
  packages/workers-shared/CHANGELOG.md
  packages/workers-shared/package.json
  packages/wrangler/CHANGELOG.md
  packages/wrangler/package.json
Owners: @cloudflare/wrangler-admins, @cloudflare/wrangler, @cloudflare/c3

Don't wait for retries in tests
  packages/wrangler/src/__tests__/versions/versions.upload.test.ts
  packages/wrangler/src/utils/retry.ts
Owners: @cloudflare/wrangler

ci: don't watch for changes on the workers-shared test:ci job (#7420)
  packages/workers-shared/package.json
Owners: @cloudflare/wrangler

refactor: remove missed redundant computation of `projectRoot` (#7421)
  fixtures/workflow-multiple/package.json
  fixtures/workflow/package.json
  packages/wrangler/src/__tests__/get-entry.test.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/deployment-bundle/entry.ts
Owners: @cloudflare/wrangler

fix: C3 experimental template for Solid now uses correct preset
  .changeset/quick-bananas-refuse.md
  packages/create-cloudflare/templates-experimental/solid/c3.ts
  packages/create-cloudflare/templates-experimental/solid/templates/wrangler.toml
Owners: @cloudflare/c3, @cloudflare/wrangler

test: remove quarantine from Nuxt experimental template
  packages/create-cloudflare/e2e-tests/frameworks.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix: C3 experimental template for Nuxt now uses correct preset
  .changeset/stale-poets-deny.md
  packages/create-cloudflare/templates-experimental/nuxt/c3.ts
  packages/create-cloudflare/templates-experimental/nuxt/templates/cloudflare-preset/nitro.config.ts
  packages/create-cloudflare/templates-experimental/nuxt/templates/wrangler.toml
Owners: @cloudflare/c3, @cloudflare/wrangler

fix: allow the asset directory to be omitted in Wrangler config for commands that don't need it
  .changeset/forty-gifts-grab.md
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/api/integrations/platform/index.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/assets.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation-helpers.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/triggers/index.ts
  packages/wrangler/src/versions/index.ts
Owners: @cloudflare/wrangler

CODEOWNERS:

* @cloudflare/wrangler

# D&C ownership
/packages/workers-shared @cloudflare/deploy-config @cloudflare/wrangler

# Pages ownership
/packages/pages-shared/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

# D1 ownership
/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/__tests__/d1/ @cloudflare/d1 @cloudflare/wrangler

# Cloudchamber ownership
/packages/wrangler/src/cloudchamber/ @cloudflare/cloudchamber @cloudflare/wrangler

# C3 ownership
/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Workers KV ownership
/packages/wrangler/src/kv @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.local.test.ts @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.test.ts @cloudflare/kv @cloudflare/wrangler

# kv-asset-handler ownership
/packages/kv-asset-handler/ @cloudflare/wrangler

# Workflows ownership
/packages/workflows-shared/ @cloudflare/workflows @cloudflare/wrangler

# Owners intentionally left blank on these shared directories / files
# to avoid noisy review requests
/.changeset/
/fixtures/
pnpm-lock.yaml

# Only wrangler-admins are needed to approve releases
# Product teams can request hold on release by reaching out to wrangler-admins
**/CHANGELOG.md @cloudflare/wrangler-admins
**/package.json @cloudflare/wrangler

# To allow dependabot updates to C3 frameworks to be approved by C3 team
/packages/create-cloudflare/**/package.json @cloudflare/wrangler @cloudflare/c3
