Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/wrangler-admins, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

CODEOWNERS:

* @cloudflare/wrangler

/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins

/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Owners intentionally left blank on these shared directories
# to avoid noisy review requests
/.changeset/
/fixtures/

chore: bump `miniflare` to `3.20231002.0`
  .changeset/smart-hats-hug.md
  fixtures/pages-ws-app/package.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
  pnpm-lock.yaml
Owners: @cloudflare/pages, @cloudflare/wrangler

unnecessary change to try to trick/fix CI
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Revert "unnecessary change to try to trick/fix CI"
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Fix `wrangler init` defaulting to the wrong `type` (#4092)
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

run prettify
  .github/extract-runtime-versions.mjs
  .github/workflows/write-prerelease-comment.yml
Owners: @cloudflare/wrangler

update prereleases comment
  .github/extract-runtime-versions.mjs
  .github/workflows/write-prerelease-comment.yml
Owners: @cloudflare/wrangler

use proper package names for headings
  .github/workflows/write-prerelease-comment.yml
Owners: @cloudflare/wrangler

use replaceAll instead of replace
  .github/extract-runtime-versions.mjs
Owners: @cloudflare/wrangler

Fix c3 hiding cursor after cancelled input
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/helpers/interactive.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

changeset
  .changeset/empty-sloths-complain.md
Owners: none

fix lint issue
  packages/create-cloudflare/src/helpers/interactive.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Fixing double prompt for ts during hello world worker creation (#4088)
  .changeset/eighty-plums-ring.md
  packages/create-cloudflare/src/workers.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Fix disappearing cursor after early exit (#4087)
  .changeset/empty-sloths-complain.md
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/helpers/interactive.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

chore: bump `miniflare` to `3.20231002.0` (#4093)
  .changeset/smart-hats-hug.md
  fixtures/pages-ws-app/package.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
  pnpm-lock.yaml
Owners: @cloudflare/pages, @cloudflare/wrangler

Support TailEvent messages in Tail sessions
  .changeset/serious-beans-hug.md
  packages/wrangler/src/__tests__/pages-deployment-tail.test.ts
  packages/wrangler/src/__tests__/tail.test.ts
  packages/wrangler/src/tail/createTail.ts
  packages/wrangler/src/tail/printing.ts
Owners: @cloudflare/wrangler

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4002.md
Owners: none

Fixing test flags for astro
  packages/create-cloudflare/src/frameworks/astro/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Adjusting port for devserver
  packages/create-cloudflare/src/frameworks/astro/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-3991.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4099.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4100.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4101.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4102.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4103.md
Owners: none

Update dependabot.yml (#34)
  .github/dependabot.yml
Owners: @cloudflare/wrangler

Add a name for the deploy-pages-project workflow
  .github/workflows/deploy-pages-project.yml
Owners: @cloudflare/wrangler

fix usage of shell-quote.parse on windows
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Add a name for the deploy-pages-project workflow (#4104)
  .github/workflows/deploy-pages-project.yml
Owners: @cloudflare/wrangler

shorten github url
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

try replaceAll
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

switch replacement args order
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix usage of shell-quote.parse on windows (#4105)
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix lint issue
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Catch errors in quarantined e2e tests
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Address PR feedback
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Split up C3 workflow files and run quarantine e2es on pushed to main
  .github/actions/run-c3-e2e/action.yml
  .github/workflows/c3-checks.yml
  .github/workflows/c3-e2e-dependabot.yml
  .github/workflows/c3-e2e-project-cleanup.yml
  .github/workflows/c3-e2e-quarantine.yml
  .github/workflows/c3-e2e.yml
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/frameworkToTest.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Pass accountId and token as inputs to e2e action
  .github/actions/run-c3-e2e/action.yml
  .github/workflows/c3-e2e-dependabot.yml
  .github/workflows/c3-e2e-quarantine.yml
  .github/workflows/c3-e2e.yml
Owners: @cloudflare/wrangler

Specify shell in github action
  .github/actions/run-c3-e2e/action.yml
Owners: @cloudflare/wrangler

remove unnecessary typing
  packages/wrangler/src/deploy/deploy.ts
Owners: @cloudflare/wrangler

remove unnecessary `active` property from middleware loader config
  packages/wrangler/src/deployment-bundle/bundle.ts
Owners: @cloudflare/wrangler
