Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Load `.env`/`.dev.vars` file based on `--env`
  .changeset/lazy-teachers-melt.md
  packages/wrangler/src/__tests__/d1.test.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/kv.test.ts
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/__tests__/pubsub.test.ts
  packages/wrangler/src/__tests__/queues.test.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/__tests__/worker-namespace.test.ts
  packages/wrangler/src/cli.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/delete.ts
  packages/wrangler/src/deprecated/index.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev-vars.ts
  packages/wrangler/src/dispatch-namespace.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/init.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/publish/index.ts
  packages/wrangler/src/pubsub/pubsub-commands.tsx
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/tail/index.ts
  packages/wrangler/src/yargs-types.ts
Owners: @rozenmd, @petebacondarwin

Switch from `--environment` to global `--env` in queues commands
  packages/wrangler/src/__tests__/queues.test.ts
  packages/wrangler/src/queues/cli/commands/consumer/add.ts
  packages/wrangler/src/queues/cli/commands/consumer/index.ts
  packages/wrangler/src/queues/cli/commands/consumer/remove.ts
  packages/wrangler/src/queues/cli/commands/index.ts
Owners: @rozenmd, @petebacondarwin

Load `.env`/`.dev.vars` file based on `--env` (#2073)
  .changeset/lazy-teachers-melt.md
  packages/wrangler/src/__tests__/d1.test.ts
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/kv.test.ts
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/__tests__/pubsub.test.ts
  packages/wrangler/src/__tests__/queues.test.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/__tests__/worker-namespace.test.ts
  packages/wrangler/src/cli.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/delete.ts
  packages/wrangler/src/deprecated/index.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev-vars.ts
  packages/wrangler/src/dispatch-namespace.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/init.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/publish/index.ts
  packages/wrangler/src/pubsub/pubsub-commands.tsx
  packages/wrangler/src/queues/cli/commands/consumer/add.ts
  packages/wrangler/src/queues/cli/commands/consumer/index.ts
  packages/wrangler/src/queues/cli/commands/consumer/remove.ts
  packages/wrangler/src/queues/cli/commands/index.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/tail/index.ts
  packages/wrangler/src/yargs-types.ts
Owners: @rozenmd, @petebacondarwin

WIP publish support
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/publish.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Warn for scripts larger than 1MB compressed (#2130)
  .changeset/metal-news-tap.md
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/bundle-reporter.tsx
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

fix: handle quirks around potentially undefined truthy bools
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/publish/index.ts
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Add version to publish message
  .changeset/chilly-cherries-double.md
  packages/wrangler/src/__tests__/helpers/msw/handlers/deployments.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Move deployments code to file
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

Added version to publish message (#2134)
  .changeset/chilly-cherries-double.md
  packages/wrangler/src/__tests__/helpers/msw/handlers/deployments.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

add a better error when the db already exists
  packages/wrangler/src/d1/create.tsx
Owners: @rozenmd, @petebacondarwin

try something dumb
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Update execute.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Add `failOpen` property to the deployment metadata
  .changeset/pretty-lemons-prove.md
  packages/pages-shared/asset-server/metadata.ts
  packages/pages-shared/metadata-generator/createMetadataObject.ts
  packages/pages-shared/metadata-generator/types.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Add `failOpen` property to the deployment metadata (#2146)
  .changeset/pretty-lemons-prove.md
  packages/pages-shared/asset-server/metadata.ts
  packages/pages-shared/metadata-generator/createMetadataObject.ts
  packages/pages-shared/metadata-generator/types.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

feat: add Workers Logpush property to configuration (#2120)
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/publish/index.ts
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Update snapshots metabinding message on publish
  packages/wrangler/src/__tests__/publish.test.ts
Owners: @rozenmd, @petebacondarwin

fix: don't throw if versions isn't available
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

fix: don't throw if versions isn't available (#2148)
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Publish works
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/publish.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Publish works
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/publish.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Use public npm registry
  package-lock.json
Owners: @rozenmd, @petebacondarwin

Default to production branch
  packages/wrangler/src/pages/publish.tsx
Owners: @cloudflare/pages

Changed version to deployments
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

Changed version to deployments (#2151)
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/deployments.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/publish/publish.ts
Owners: @rozenmd, @petebacondarwin

D1 bindings
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @cloudflare/pages

Fix tests
  packages/wrangler/src/__tests__/pages.test.ts
Owners: @rozenmd, @petebacondarwin

Hide bindings option
  packages/wrangler/src/pages/build.tsx
Owners: @cloudflare/pages

Add changesets
  .changeset/many-ducks-hammer.md
  .changeset/plenty-carrots-fold.md
  .changeset/young-poets-battle.md
Owners: @rozenmd, @petebacondarwin

metadata binding in form creation updated to 'metadata'
  packages/wrangler/src/create-worker-upload-form.ts
Owners: @rozenmd, @petebacondarwin

Skip flakey tests and test new metadata type to backend
  packages/wrangler/src/__tests__/api-devregistry.test.js
  packages/wrangler/src/__tests__/publish.test.ts
Owners: @rozenmd, @petebacondarwin

Re-enable bundling in pages dev
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

skipping other part of flakey tests
  packages/wrangler/src/__tests__/api-dev.test.ts
Owners: @rozenmd, @petebacondarwin

Re-enable inspect on pages dev
  packages/wrangler/src/pages/dev.tsx
Owners: @cloudflare/pages

Updated from main
  packages/wrangler/src/__tests__/publish.test.ts
Owners: @rozenmd, @petebacondarwin

CODEOWNERS:

# Global owners
* @rozenmd @petebacondarwin
/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages
/packages/wrangler/src/pages/ @cloudflare/pages
/packages/wrangler/src/pages.* @cloudflare/pages
