Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/wrangler-admins, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

Add PRs to workers-sdk GH project
  .github/workflows/pullrequests.yml
Owners: @cloudflare/wrangler

[R2]: add filter objects support
  .changeset/large-gifts-float.md
  packages/wrangler/e2e/r2.test.ts
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/helpers/msw/handlers/r2.ts
  packages/wrangler/src/__tests__/r2.test.ts
  packages/wrangler/src/metrics/send-event.ts
  packages/wrangler/src/r2/helpers.ts
  packages/wrangler/src/r2/index.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

respect options.local in unstable_dev (#4084)
  .changeset/curvy-onions-breathe.md
  packages/wrangler/src/api/dev.ts
Owners: @cloudflare/wrangler

Use class
  packages/wrangler/templates/middleware/middleware-multiworker-dev.ts
Owners: @cloudflare/wrangler

typo
  packages/wrangler/templates/middleware/middleware-multiworker-dev.ts
Owners: @cloudflare/wrangler

Log token info after authentication errors (#3926)
  .changeset/orange-berries-relax.md
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/index.ts
Owners: @cloudflare/wrangler

Quarantine tests
  .github/workflows/pullrequests.yml
  package.json
Owners: @cloudflare/wrangler

use blog template in astro C3 e2e test
  packages/create-cloudflare/src/frameworks/astro/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

remove retry options in rmSync cleanup calls
  packages/create-cloudflare/e2e-tests/helpers.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

update expectResponseToContain string for Astro
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: e2es pages tests additions and fixes (#4015)
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/src/frameworks/astro/index.ts
  packages/create-cloudflare/src/frameworks/remix/index.ts
  packages/create-cloudflare/src/helpers/packages.ts
  packages/create-cloudflare/turbo.json
Owners: @cloudflare/wrangler, @cloudflare/c3

fix linting
  packages/wrangler/src/__tests__/helpers/run-wrangler.ts
  packages/wrangler/src/init.ts
Owners: @cloudflare/wrangler

wrap shell-quote.parse to match our needs:
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/helpers/__tests__/command.test.ts
  packages/create-cloudflare/src/helpers/command.ts
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/src/__tests__/helpers/run-wrangler.ts
  packages/wrangler/src/init.ts
  packages/wrangler/src/utils/shell-quote.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix tests with incorrect CLI args formatting
  packages/wrangler/src/__tests__/d1/execute.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/kv.test.ts
Owners: @cloudflare/wrangler

fix linting in c3
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/helpers/__tests__/command.test.ts
  packages/create-cloudflare/src/helpers/command.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

use `shell-quote` package
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/helpers/__tests__/command.test.ts
  packages/create-cloudflare/src/helpers/command.ts
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/helpers/run-wrangler.ts
  packages/wrangler/src/init.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Defaulting project type to webFramework
  .changeset/khaki-experts-reflect.md
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Fixing cli e2e tests
  packages/create-cloudflare/e2e-tests/cli.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

add test to ensure all templates have a .gitignore file
  packages/create-cloudflare/e2e-tests/workers.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

fix(pages): use `realpath`ed tmp dirs to generate valid source maps (#4067)
  .changeset/curvy-dryers-bake.md
  packages/wrangler/src/pages/buildFunctions.ts
  packages/wrangler/src/pages/dev.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/pages/utils.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

c3: rename .gitignore to an intermediate name that npm pack will not exclude
  .changeset/hip-monkeys-glow.md
  packages/create-cloudflare/.gitignore
  packages/create-cloudflare/package.json
  packages/create-cloudflare/scripts/build.ts
  packages/create-cloudflare/src/workers.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

Changeset
  .changeset/fair-seahorses-arrive.md
Owners: none

C3: Bump engines version
  packages/create-cloudflare/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

quarantine astro
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

un-quarantine astro
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Defaulting project type to webFramework (#4062)
  .changeset/khaki-experts-reflect.md
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Bump node engines version in package.json (#4063)
  .changeset/fair-seahorses-arrive.md
  packages/create-cloudflare/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4012.md
Owners: none

fix lint issue
  packages/create-cloudflare/src/frameworks/solid/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Prevent prompt handlers from being consumed
  packages/create-cloudflare/e2e-tests/helpers.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Use positional argument for project directory with create-solid
  packages/create-cloudflare/src/frameworks/solid/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

cd to project directory in configure step
  packages/create-cloudflare/src/frameworks/solid/index.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Fixing double prompt for ts during hello world worker creation
  packages/create-cloudflare/src/workers.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

changeset
  .changeset/eighty-plums-ring.md
Owners: none

[C3] Update frameworks cli dependencies
  .changeset/c3-frameworks-update-4091.md
Owners: none

fix wrangler init type default
  packages/create-cloudflare/src/helpers/cli.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

temporarily tweak e2e.yml
  .github/workflows/e2e.yml
Owners: @cloudflare/wrangler

Revert "temporarily tweak e2e.yml"
  .github/workflows/e2e.yml
Owners: @cloudflare/wrangler

use `shell-quote` package (#4080)
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/helpers/__tests__/command.test.ts
  packages/create-cloudflare/src/helpers/command.ts
  packages/create-cloudflare/src/helpers/shell-quote.ts
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/d1/execute.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/helpers/run-wrangler.ts
  packages/wrangler/src/__tests__/kv.test.ts
  packages/wrangler/src/init.ts
  packages/wrangler/src/utils/shell-quote.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

ensure all templates have a .gitignore file (#3754)
  .changeset/hip-monkeys-glow.md
  packages/create-cloudflare/.gitignore
  packages/create-cloudflare/e2e-tests/workers.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/scripts/build.ts
  packages/create-cloudflare/src/workers.ts
  pnpm-lock.yaml
Owners: @cloudflare/c3, @cloudflare/wrangler

CODEOWNERS:

* @cloudflare/wrangler

/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins

/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Owners intentionally left blank on these shared directories
# to avoid noisy review requests
/.changeset/
/fixtures/
