Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @rozenmd, @petebacondarwin, @cloudflare/pages

bundle rework
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/pages/publish.tsx
  packages/wrangler/src/pages/utils.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Fix `--local` mode logging and enable colours
  .changeset/tough-rules-wonder.md
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/logger.ts
  packages/wrangler/src/miniflare-cli/index.ts
Owners: @rozenmd, @petebacondarwin

Make bundle output to specific file for pages
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Correctly pass through d1 databases
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @cloudflare/pages

Fix 2x bundling that pages was doing for months
  package-lock.json
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Correctly prefix d1 bindings
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/pages

Make mf-cli always log crashing errors
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/miniflare-cli/index.ts
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

fix importing other assets
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/pages

Fix rename?
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

shut up about --inspect
  packages/wrangler/src/pages/dev.tsx
Owners: @cloudflare/pages

Make optional properties optional
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Always output ESM file
  packages/wrangler/src/pages/dev.tsx
Owners: @cloudflare/pages

Command types working with autogenerated types from bindings and module rules
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/entry.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

Updated the snapshots for the help commands to include types command
  packages/wrangler/src/__tests__/index.test.ts
Owners: @rozenmd, @petebacondarwin

Implemented PR suggestions
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

Additional implementations of PR review suggestions
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

added internalEnv flag for internal use
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Updated D1 shim
  packages/wrangler/templates/d1-beta-facade.js
Owners: @rozenmd, @petebacondarwin

_worker.js support!
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Generate DTS `wrangler-overrides.d.ts` from config (#2074)
  .changeset/long-buttons-retire.md
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/entry.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/type-generation.ts
Owners: @rozenmd, @petebacondarwin

_worker.js correctly errors on import
  fixtures/pages-workerjs-app/tests/index.test.ts
  fixtures/pages-workerjs-app/tsconfig.json
  packages/wrangler/src/pages/dev.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Bundle plugins + cleanup
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/miniflare-cli/index.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/src/pages/utils.ts
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

First version of D1 migrations
  packages/wrangler/src/d1/execute.tsx
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/d1/migrations.tsx
  packages/wrangler/src/d1/types.tsx
  packages/wrangler/src/dialogs.tsx
Owners: @rozenmd, @petebacondarwin

Output functions routes & build in same place
  packages/wrangler/src/pages/build.tsx
Owners: @cloudflare/pages

correct outfile logic for `pages functions build`
  packages/wrangler/src/bundle.ts
Owners: @rozenmd, @petebacondarwin

Add glob for mjs
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/pages/build.tsx
  packages/wrangler/src/pages/dev.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Move table name and migrations path to wrangler.toml
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/d1/execute.tsx
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/d1/migrations.tsx
  packages/wrangler/src/d1/utils.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Add changeset
  .changeset/cold-years-attend.md
Owners: @rozenmd, @petebacondarwin

Re-add consumer CLI options. These may not make the final dev exp, but they are needeed for development and early testing
  packages/wrangler/src/__tests__/queues.test.ts
  packages/wrangler/src/queues/cli/commands/consumer/add.ts
  packages/wrangler/src/queues/cli/commands/consumer/index.ts
  packages/wrangler/src/queues/cli/commands/consumer/remove.ts
  packages/wrangler/src/queues/cli/commands/index.ts
  packages/wrangler/src/queues/client.ts
Owners: @rozenmd, @petebacondarwin

chore: remove empty code block
  packages/wrangler/README.md
Owners: @rozenmd, @petebacondarwin

Wrangler deployments command Add support and documentation for new status deployments command.
  .changeset/shaggy-pots-hear.md
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/helpers/msw/handlers/deployments.ts
  packages/wrangler/src/__tests__/helpers/msw/index.ts
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/tail.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/init.ts
Owners: @rozenmd, @petebacondarwin

Updated the help message and casing
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

fix: help message spacing Spacing between emoji's and description was incorrect for some commands.
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

fix globs for mjs files
  packages/wrangler/src/dev/local.tsx
Owners: @rozenmd, @petebacondarwin

fix: help message spacing (#2093)
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

Improve migrations code and add backups before migration apply
  packages/wrangler/src/d1/execute.tsx
  packages/wrangler/src/d1/index.ts
  packages/wrangler/src/d1/migrations.tsx
  packages/wrangler/src/d1/options.ts
Owners: @rozenmd, @petebacondarwin

fix(pages): `wrangler pages dev` matches routing rules in `_routes.json` too loosely
  .changeset/new-maps-share.md
  fixtures/pages-functions-with-routes-app/functions/bye.ts
  fixtures/pages-functions-with-routes-app/functions/date.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/bye.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/goodbye.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/hello.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/index.ts
  fixtures/pages-functions-with-routes-app/functions/greetings.ts
  fixtures/pages-functions-with-routes-app/functions/index.ts
  fixtures/pages-functions-with-routes-app/public/_routes.json
  fixtures/pages-functions-with-routes-app/tests/index.test.ts
  fixtures/pages-workerjs-with-routes-app/public/_routes.json
  fixtures/pages-workerjs-with-routes-app/public/_worker.js
  fixtures/pages-workerjs-with-routes-app/tests/index.test.ts
  packages/wrangler/src/__tests__/init.test.ts
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/templates/__tests__/pages-dev-util.test.ts
  packages/wrangler/templates/pages-dev-pipeline.ts
  packages/wrangler/templates/pages-dev-util.ts
  packages/wrangler/templates/tsconfig.json
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

fix(pages): `wrangler pages dev` matches routing rules in `_routes.json` too loosely (#2065)
  .changeset/new-maps-share.md
  fixtures/pages-functions-with-routes-app/functions/bye.ts
  fixtures/pages-functions-with-routes-app/functions/date.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/bye.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/goodbye.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/hello.ts
  fixtures/pages-functions-with-routes-app/functions/greeting/index.ts
  fixtures/pages-functions-with-routes-app/functions/greetings.ts
  fixtures/pages-functions-with-routes-app/functions/index.ts
  fixtures/pages-functions-with-routes-app/public/_routes.json
  fixtures/pages-functions-with-routes-app/tests/index.test.ts
  fixtures/pages-workerjs-with-routes-app/public/_routes.json
  fixtures/pages-workerjs-with-routes-app/public/_worker.js
  fixtures/pages-workerjs-with-routes-app/tests/index.test.ts
  packages/wrangler/src/__tests__/init.test.ts
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/templates/__tests__/pages-dev-util.test.ts
  packages/wrangler/templates/pages-dev-pipeline.ts
  packages/wrangler/templates/pages-dev-util.ts
  packages/wrangler/templates/tsconfig.json
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Fix `--local` mode logging and enable colours (#2068)
  .changeset/tough-rules-wonder.md
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/logger.ts
  packages/wrangler/src/miniflare-cli/index.ts
Owners: @rozenmd, @petebacondarwin

Apply suggestions from code review
  packages/wrangler/src/bundle.ts
  packages/wrangler/src/pages/dev.tsx
  packages/wrangler/templates/pages-dev-util.js
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

CODEOWNERS:

# Global owners
* @rozenmd @petebacondarwin
/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages
/packages/wrangler/src/pages/ @cloudflare/pages
/packages/wrangler/src/pages.* @cloudflare/pages
