Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/deploy-config, @cloudflare/pages, @cloudflare/d1, @cloudflare/cloudchamber, @cloudflare/c3, @cloudflare/kv, @cloudflare/workflows, @cloudflare/wrangler-admins

catch error
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/type-generation/index.ts
Owners: @cloudflare/wrangler

allow x-provision to be undefined
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/experimental-flags.ts
  packages/wrangler/src/index.ts
Owners: @cloudflare/wrangler

changeset
  .changeset/silly-news-compete.md
Owners: none

please don't delete the checkboxes
  .github/pull_request_template.md
Owners: @cloudflare/wrangler

fix: C3 experimental template for Svelte now uses Workers adapter
  .changeset/soft-ties-crash.md
  packages/create-cloudflare/templates-experimental/svelte/c3.ts
  packages/create-cloudflare/templates-experimental/svelte/js/static/.assetsignore
  packages/create-cloudflare/templates-experimental/svelte/templates/wrangler.toml
  packages/create-cloudflare/templates-experimental/svelte/ts/static/.assetsignore
  packages/create-cloudflare/templates-experimental/svelte/ts/wrangler.toml
Owners: @cloudflare/c3, @cloudflare/wrangler

refactor: remove duplicate PagesConfigFields interface
  packages/wrangler/src/config/config.ts
Owners: @cloudflare/wrangler

vitest-pool-workers: Support AbortSignal in fetch-mock (#7032)
  .changeset/hip-penguins-kiss.md
  fixtures/vitest-pool-workers-examples/misc/test/fetch-mock.test.ts
  packages/vitest-pool-workers/src/worker/fetch-mock.ts
Owners: @cloudflare/wrangler

avoid experimental flag to be undefined
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/experimental-flags.ts
Owners: @cloudflare/wrangler

fix teardown
  packages/wrangler/src/api/startDevWorker/MultiworkerRuntimeController.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/templates/patch-console.js
Owners: @cloudflare/wrangler

Create gold-pandas-yell.md
  .changeset/gold-pandas-yell.md
Owners: none

Update README.md
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

Apply suggestions from code review
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

refactor: remove duplicate PagesConfigFields interface (#7363)
  packages/wrangler/src/config/config.ts
Owners: @cloudflare/wrangler

Use `workers-devprod` service account for external E2E CI
  .github/workflows/run-ci-for-external-forks.yml
Owners: @cloudflare/wrangler

Update README.md
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

feat(wrangler): setup x-provision flag (#7348)
  .changeset/purple-coats-lick.md
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/integrations/platform/index.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/experimental-flags.ts
  packages/wrangler/src/generate/index.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/yargs-types.ts
Owners: @cloudflare/wrangler

feat(wrangler): make kv/r2/d1 identifier optional if x-provision flag is enabled
  packages/wrangler/src/config/validation.ts
Owners: @cloudflare/wrangler

WIP(wrangler): remote mode support for Workers+Assets
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/api/startDevWorker/RemoteRuntimeController.ts
  packages/wrangler/src/assets.ts
  packages/wrangler/src/dev/remote.ts
Owners: @cloudflare/wrangler

Use `workers-devprod` service account for external E2E CI (#7368)
  .github/workflows/run-ci-for-external-forks.yml
Owners: @cloudflare/wrangler

Refactor login to expose a direct function to retrieve an Oauth token
  packages/wrangler/src/user/user.ts
Owners: @cloudflare/wrangler

fix build
  packages/wrangler/src/deploy/index.ts
Owners: @cloudflare/wrangler

Print copyable wrangler.toml text when creating a hyperdrive config
  packages/wrangler/src/__tests__/hyperdrive.test.ts
  packages/wrangler/src/hyperdrive/create.ts
Owners: @cloudflare/wrangler

Use formatConfigSnippet in printing out the Hyperdrive config
  packages/wrangler/src/__tests__/hyperdrive.test.ts
  packages/wrangler/src/hyperdrive/create.ts
Owners: @cloudflare/wrangler

Add changeset
  .changeset/cuddly-chicken-visit.md
Owners: none

include rpc & do rpc tests
  packages/wrangler/e2e/multiworker-dev.test.ts
Owners: @cloudflare/wrangler

Remove metrics
  packages/wrangler/src/dev.ts
Owners: @cloudflare/wrangler

please don't delete the checkboxes (#7361)
  .github/pull_request_template.md
Owners: @cloudflare/wrangler

Print copyable wrangler.toml text when creating a hyperdrive config (#7326)
  .changeset/cuddly-chicken-visit.md
  packages/wrangler/src/__tests__/hyperdrive.test.ts
  packages/wrangler/src/hyperdrive/create.ts
Owners: @cloudflare/wrangler

update types
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/d1/utils.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/kv/index.ts
Owners: @cloudflare/wrangler, @cloudflare/d1, @cloudflare/kv

add test
  packages/wrangler/src/__tests__/configuration.test.ts
Owners: @cloudflare/wrangler

add changeset
  .changeset/lucky-carrots-sparkle.md
Owners: none

Add build and push subcommands to cloudchamber
  .changeset/early-grapes-care.md
  packages/wrangler/src/__tests__/cloudchamber/build.test.ts
  packages/wrangler/src/cloudchamber/build.ts
  packages/wrangler/src/cloudchamber/index.ts
  packages/wrangler/src/config/environment.ts
Owners: @cloudflare/wrangler, @cloudflare/cloudchamber

Use esbuild plugin
  packages/wrangler/src/deployment-bundle/module-collection.ts
Owners: @cloudflare/wrangler

chore: update dependencies of "miniflare" package
  .changeset/dependabot-update-7379.md
Owners: none

format
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

Refactor login to expose a direct function to retrieve an Oauth token (#7375)
  packages/wrangler/src/user/user.ts
Owners: @cloudflare/wrangler

fix typo
  packages/wrangler/src/config/validation.ts
Owners: @cloudflare/wrangler

Remove duplicate test (tested in interactive dev fixture)
  packages/wrangler/e2e/multiworker-dev.test.ts
Owners: @cloudflare/wrangler

Spruce up the Wrangler NPM README a tad (#7271)
  packages/wrangler/README.md
Owners: @cloudflare/wrangler

Create four-zebras-deliver.md
  .changeset/four-zebras-deliver.md
Owners: none

CODEOWNERS:

* @cloudflare/wrangler

# D&C ownership
/packages/workers-shared @cloudflare/deploy-config @cloudflare/wrangler

# Pages ownership
/packages/pages-shared/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

# D1 ownership
/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/__tests__/d1/ @cloudflare/d1 @cloudflare/wrangler

# Cloudchamber ownership
/packages/wrangler/src/cloudchamber/ @cloudflare/cloudchamber @cloudflare/wrangler

# C3 ownership
/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Workers KV ownership
/packages/wrangler/src/kv @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.local.test.ts @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.test.ts @cloudflare/kv @cloudflare/wrangler

# kv-asset-handler ownership
/packages/kv-asset-handler/ @cloudflare/wrangler

# Workflows ownership
/packages/workflows-shared/ @cloudflare/workflows @cloudflare/wrangler

# Owners intentionally left blank on these shared directories / files
# to avoid noisy review requests
/.changeset/
/fixtures/
pnpm-lock.yaml

# Only wrangler-admins are needed to approve releases
# Product teams can request hold on release by reaching out to wrangler-admins
**/CHANGELOG.md @cloudflare/wrangler-admins
**/package.json @cloudflare/wrangler

# To allow dependabot updates to C3 frameworks to be approved by C3 team
/packages/create-cloudflare/**/package.json @cloudflare/wrangler @cloudflare/c3
