Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/deploy-config, @cloudflare/pages, @cloudflare/d1, @cloudflare/cloudchamber, @cloudflare/c3, @cloudflare/kv, @cloudflare/workflows, @cloudflare/wrangler-admins

Cleanup error
  packages/wrangler/src/__tests__/dev.test.ts
  packages/wrangler/src/config/index.ts
Owners: @cloudflare/wrangler

prettify
  packages/wrangler/src/config/index.ts
Owners: @cloudflare/wrangler

Add docs link
  packages/wrangler/src/config/index.ts
Owners: @cloudflare/wrangler

fix rebase
  packages/wrangler/src/__tests__/dev.test.ts
Owners: @cloudflare/wrangler

Turn on --x-registry for Pages by default
  packages/wrangler/e2e/dev-registry.test.ts
  packages/wrangler/src/pages/dev.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

Create seven-eels-reflect.md
  .changeset/seven-eels-reflect.md
Owners: none

pr feedback
  packages/wrangler/src/__tests__/type-generation.test.ts
Owners: @cloudflare/wrangler

Support multiple workers in a single Miniflare instance (#7251)
  .changeset/gold-pandas-yell.md
  fixtures/interactive-dev-tests/src/worker-a.mjs
  fixtures/interactive-dev-tests/src/worker-b.mjs
  fixtures/interactive-dev-tests/tests/index.test.ts
  fixtures/interactive-dev-tests/wrangler.a.toml
  fixtures/interactive-dev-tests/wrangler.b.toml
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/e2e/helpers/command.ts
  packages/wrangler/e2e/helpers/workerd-processes.ts
  packages/wrangler/e2e/multiworker-dev.test.ts
  packages/wrangler/src/__tests__/api/startDevWorker/BundleController.test.ts
  packages/wrangler/src/__tests__/api/startDevWorker/LocalRuntimeController.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/integrations/platform/index.ts
  packages/wrangler/src/api/startDevWorker/BundlerController.ts
  packages/wrangler/src/api/startDevWorker/ConfigController.ts
  packages/wrangler/src/api/startDevWorker/LocalRuntimeController.ts
  packages/wrangler/src/api/startDevWorker/MultiworkerRuntimeController.ts
  packages/wrangler/src/api/startDevWorker/NoOpProxyController.ts
  packages/wrangler/src/api/startDevWorker/events.ts
  packages/wrangler/src/api/startDevWorker/types.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/core/define-command.ts
  packages/wrangler/src/core/helpers.ts
  packages/wrangler/src/core/register-commands.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/experimental-flags.ts
  packages/wrangler/src/index.ts
  packages/wrangler/templates/middleware/middleware-patch-console-prefix.d.ts
  packages/wrangler/templates/middleware/middleware-patch-console-prefix.ts
Owners: @cloudflare/wrangler

fix snapshot
  packages/wrangler/src/__tests__/pages/pages.test.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

fix: allow `wrangler types` when expected entrypoint doesn't exist (#7360)
  .changeset/silly-news-compete.md
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/type-generation/index.ts
Owners: @cloudflare/wrangler

Make debug log for `.env` not found less scary (#7272)
  .changeset/four-zebras-deliver.md
  packages/wrangler/src/__tests__/dev.test.ts
  packages/wrangler/src/config/index.ts
Owners: @cloudflare/wrangler

Turn on `--x-registry` for Pages by default (#7381)
  .changeset/seven-eels-reflect.md
  packages/wrangler/e2e/dev-registry.test.ts
  packages/wrangler/src/__tests__/pages/pages.test.ts
  packages/wrangler/src/pages/dev.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

chore: update docs and better naming of type
  packages/wrangler/CONTRIBUTING.md
  packages/wrangler/src/core/CommandRegistry.ts
  packages/wrangler/src/core/create-command.ts
  packages/wrangler/src/core/helpers.ts
Owners: @cloudflare/wrangler

chore: convert defineCommand to createCommand
  packages/wrangler/src/core/create-command.ts
  packages/wrangler/src/core/types.ts
Owners: @cloudflare/wrangler

chore: convert existing defineCommands to the new registry
  packages/wrangler/src/dev.ts
  packages/wrangler/src/docs/index.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/r2/bucket.ts
  packages/wrangler/src/r2/domain.ts
  packages/wrangler/src/r2/index.ts
  packages/wrangler/src/r2/lifecycle.ts
  packages/wrangler/src/r2/notification.ts
  packages/wrangler/src/r2/object.ts
  packages/wrangler/src/r2/public-dev-url.ts
  packages/wrangler/src/r2/sippy.ts
  packages/wrangler/src/user/commands.ts
  packages/wrangler/src/workflows/commands/delete.ts
  packages/wrangler/src/workflows/commands/describe.ts
  packages/wrangler/src/workflows/commands/instances/describe.ts
  packages/wrangler/src/workflows/commands/instances/list.ts
  packages/wrangler/src/workflows/commands/instances/pause.ts
  packages/wrangler/src/workflows/commands/instances/resume.ts
  packages/wrangler/src/workflows/commands/instances/terminate.ts
  packages/wrangler/src/workflows/commands/list.ts
  packages/wrangler/src/workflows/commands/trigger.ts
  packages/wrangler/src/workflows/index.ts
Owners: @cloudflare/wrangler, @cloudflare/kv

chore: add tests
  packages/wrangler/src/__tests__/core/command-registration.test.ts
  packages/wrangler/src/__tests__/sentry.test.ts
  packages/wrangler/src/__tests__/vitest.global.ts
  packages/wrangler/turbo.json
Owners: @cloudflare/wrangler

chore: convert command registry to a class
  packages/wrangler/src/core/CommandRegistry.ts
  packages/wrangler/src/core/helpers.ts
  packages/wrangler/src/core/index.ts
  packages/wrangler/src/core/register-commands.ts
  packages/wrangler/src/core/register-yargs-command.ts
Owners: @cloudflare/wrangler

chore: refactor defineCommand to use named imports (#7357)
  packages/wrangler/CONTRIBUTING.md
  packages/wrangler/src/__tests__/core/command-registration.test.ts
  packages/wrangler/src/__tests__/sentry.test.ts
  packages/wrangler/src/__tests__/vitest.global.ts
  packages/wrangler/src/core/CommandRegistry.ts
  packages/wrangler/src/core/create-command.ts
  packages/wrangler/src/core/helpers.ts
  packages/wrangler/src/core/index.ts
  packages/wrangler/src/core/register-commands.ts
  packages/wrangler/src/core/register-yargs-command.ts
  packages/wrangler/src/core/types.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/docs/index.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/r2/bucket.ts
  packages/wrangler/src/r2/domain.ts
  packages/wrangler/src/r2/index.ts
  packages/wrangler/src/r2/lifecycle.ts
  packages/wrangler/src/r2/notification.ts
  packages/wrangler/src/r2/object.ts
  packages/wrangler/src/r2/public-dev-url.ts
  packages/wrangler/src/r2/sippy.ts
  packages/wrangler/src/user/commands.ts
  packages/wrangler/src/workflows/commands/delete.ts
  packages/wrangler/src/workflows/commands/describe.ts
  packages/wrangler/src/workflows/commands/instances/describe.ts
  packages/wrangler/src/workflows/commands/instances/list.ts
  packages/wrangler/src/workflows/commands/instances/pause.ts
  packages/wrangler/src/workflows/commands/instances/resume.ts
  packages/wrangler/src/workflows/commands/instances/terminate.ts
  packages/wrangler/src/workflows/commands/list.ts
  packages/wrangler/src/workflows/commands/trigger.ts
  packages/wrangler/src/workflows/index.ts
  packages/wrangler/turbo.json
Owners: @cloudflare/wrangler, @cloudflare/kv

chore: ensure that aliasOf is alongside the command definition
  packages/wrangler/CONTRIBUTING.md
  packages/wrangler/src/__tests__/core/command-registration.test.ts
  packages/wrangler/src/core/CommandRegistry.ts
  packages/wrangler/src/core/create-command.ts
  packages/wrangler/src/core/helpers.ts
  packages/wrangler/src/core/types.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/kv/index.ts
  packages/wrangler/src/r2/notification.ts
Owners: @cloudflare/wrangler, @cloudflare/kv

chore: add nodejs_compat programmatically for Vitest Pool Workers, update @cloudflare/vitest-pool-workers-examples
  fixtures/vitest-pool-workers-examples/basics-integration-auxiliary/wrangler.toml
  fixtures/vitest-pool-workers-examples/basics-unit-integration-self/wrangler.toml
  fixtures/vitest-pool-workers-examples/d1/wrangler.toml
  fixtures/vitest-pool-workers-examples/durable-objects/wrangler.toml
  fixtures/vitest-pool-workers-examples/external-package-resolution/wrangler.toml
  fixtures/vitest-pool-workers-examples/hyperdrive/wrangler.toml
  fixtures/vitest-pool-workers-examples/internal-module-resolution/wrangler.toml
  fixtures/vitest-pool-workers-examples/kv-r2-caches/wrangler.toml
  fixtures/vitest-pool-workers-examples/misc/wrangler.toml
  fixtures/vitest-pool-workers-examples/multiple-workers/api-service/wrangler.toml
  fixtures/vitest-pool-workers-examples/multiple-workers/auth-service/wrangler.toml
  fixtures/vitest-pool-workers-examples/multiple-workers/database-service/wrangler.toml
  fixtures/vitest-pool-workers-examples/pages-with-config/wrangler.toml
  fixtures/vitest-pool-workers-examples/queues/wrangler.toml
  fixtures/vitest-pool-workers-examples/request-mocking/wrangler.toml
  fixtures/vitest-pool-workers-examples/rpc/wrangler.toml
  fixtures/vitest-pool-workers-examples/vitest.global.ts
  fixtures/vitest-pool-workers-examples/vitest.workers.config.ts
  fixtures/vitest-pool-workers-examples/web-assembly/wrangler.toml
  fixtures/vitest-pool-workers-examples/workers-assets-only/wrangler.toml
  fixtures/vitest-pool-workers-examples/workers-assets/wrangler.toml
  packages/vitest-pool-workers/src/pool/index.ts
Owners: @cloudflare/wrangler

chore: remove nodejs_compat from C3 templates
  packages/create-cloudflare/templates/hello-world/js/wrangler.toml
  packages/create-cloudflare/templates/hello-world/ts/wrangler.toml
Owners: @cloudflare/c3, @cloudflare/wrangler

chore: add changeset
  .changeset/calm-lizards-tell.md
Owners: none

chore: use nodejs_compat_v2
  packages/vitest-pool-workers/src/pool/index.ts
Owners: @cloudflare/wrangler

test: fix timezone for tests
  fixtures/vitest-pool-workers-examples/vitest.global.ts
  fixtures/vitest-pool-workers-examples/vitest.workers.config.ts
Owners: none

test: fix timezone for tests (#7389)
  fixtures/vitest-pool-workers-examples/vitest.global.ts
  fixtures/vitest-pool-workers-examples/vitest.workers.config.ts
Owners: none

chore: use nodejs_compat
  packages/vitest-pool-workers/src/pool/index.ts
Owners: @cloudflare/wrangler

relaxe 18 req
  fixtures/node-app-pages/package.json
  fixtures/pages-d1-shim/package.json
  fixtures/pages-dev-proxy-with-script/package.json
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-wasm-app/package.json
  fixtures/pages-functions-with-config-file-app/package.json
  fixtures/pages-functions-with-routes-app/package.json
  fixtures/pages-nodejs-v2-compat/package.json
  fixtures/pages-plugin-mounted-on-root-app/package.json
  fixtures/pages-simple-assets/package.json
  fixtures/pages-workerjs-and-functions-app/package.json
  fixtures/pages-workerjs-app/package.json
  fixtures/pages-workerjs-directory/package.json
  fixtures/pages-workerjs-wasm-app/package.json
  fixtures/pages-workerjs-with-config-file-app/package.json
  fixtures/pages-workerjs-with-routes-app/package.json
  packages/kv-asset-handler/package.json
  packages/miniflare/package.json
  packages/workers-shared/package.json
  packages/workflows-shared/package.json
  packages/wrangler/bin/wrangler.js
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/test-old-node-version.js
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

add node version
  .github/workflows/test-and-check.yml
Owners: @cloudflare/wrangler

packages not fixtures
  .github/workflows/test-and-check.yml
Owners: @cloudflare/wrangler

Fix lockfile
  packages/wrangler/scripts/deps.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

feat(wrangler): make resources identifier optional if x-provision flag is enabled (#7377)
  .changeset/lucky-carrots-sparkle.md
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/d1/utils.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/worker.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/kv/index.ts
Owners: @cloudflare/wrangler, @cloudflare/d1, @cloudflare/kv

wip
  fixtures/vitest-pool-workers-examples/basics-integration-auxiliary/vitest.config.ts
  fixtures/vitest-pool-workers-examples/basics-integration-auxiliary/wrangler.toml
Owners: none

Fix compat date
  packages/wrangler/e2e/dev.test.ts
Owners: @cloudflare/wrangler

chore(wrangler): fix type errors with experimental flags
  packages/wrangler/src/__tests__/configuration.test.ts
Owners: @cloudflare/wrangler

Require Node v18 in Wrangler v4 (#7338)
  .changeset/slimy-pumpkins-tickle.md
  .github/workflows/test-and-check.yml
  .github/workflows/test-old-node-error.yml
  fixtures/node-app-pages/package.json
  fixtures/pages-d1-shim/package.json
  fixtures/pages-dev-proxy-with-script/package.json
  fixtures/pages-functions-app/package.json
  fixtures/pages-functions-wasm-app/package.json
  fixtures/pages-functions-with-config-file-app/package.json
  fixtures/pages-functions-with-routes-app/package.json
  fixtures/pages-nodejs-v2-compat/package.json
  fixtures/pages-plugin-mounted-on-root-app/package.json
  fixtures/pages-simple-assets/package.json
  fixtures/pages-workerjs-and-functions-app/package.json
  fixtures/pages-workerjs-app/package.json
  fixtures/pages-workerjs-directory/package.json
  fixtures/pages-workerjs-wasm-app/package.json
  fixtures/pages-workerjs-with-config-file-app/package.json
  fixtures/pages-workerjs-with-routes-app/package.json
  packages/kv-asset-handler/package.json
  packages/miniflare/package.json
  packages/workers-shared/package.json
  packages/workflows-shared/package.json
  packages/wrangler/bin/wrangler.js
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/msw.d.ts
  packages/wrangler/src/__tests__/test-old-node-version.js
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

Fix wrangler module import under npm monorepos (#7130)
  .changeset/shy-cups-grin.md
  fixtures/import-npm/README.md
  fixtures/import-npm/package-lock.json
  fixtures/import-npm/package.json
  fixtures/import-npm/packages/import-example/package.json
  fixtures/import-npm/packages/import-example/src/index.js
  fixtures/import-npm/packages/import-example/tests/index.test.ts
  fixtures/import-npm/packages/import-example/tests/tsconfig.json
  fixtures/import-npm/packages/import-example/tsconfig.json
  fixtures/import-npm/packages/import-example/vitest.config.mts
  fixtures/import-npm/packages/import-example/wrangler.toml
  fixtures/import-npm/turbo.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/module-collection.test.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

Remove `node_compat` in Wrangler & Miniflare v4 (#7336)
  .changeset/node-compat-v4.md
  fixtures/node-app-pages/tests/index.test.ts
  packages/miniflare/src/plugins/core/node-compat.ts
  packages/wrangler/e2e/dev.test.ts
  packages/wrangler/package.json
  packages/wrangler/scripts/deps.ts
  packages/wrangler/src/__tests__/config-validation-pages.test.ts
  packages/wrangler/src/__tests__/configuration.test.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/dev.test.ts
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/api/pages/deploy.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deploy/index.ts
  packages/wrangler/src/deployment-bundle/build-failures.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/log-build-output.ts
  packages/wrangler/src/deployment-bundle/node-compat.ts
  packages/wrangler/src/dev.ts
  packages/wrangler/src/pages/build.ts
  packages/wrangler/src/pages/dev.ts
  packages/wrangler/src/type-generation/index.ts
  packages/wrangler/src/versions/index.ts
  packages/wrangler/src/versions/upload.ts
  pnpm-lock.yaml
Owners: @cloudflare/wrangler, @cloudflare/pages

chore(wrangler): fix type errors with experimental flags (#7391)
  packages/wrangler/src/__tests__/configuration.test.ts
Owners: @cloudflare/wrangler

fixup! renamed vars (review feedback)
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-compat.ts
Owners: @cloudflare/wrangler

refactor(wrangler): Explicitely pick node compat plugins for each mode
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-compat.ts
  packages/wrangler/src/deployment-bundle/esbuild-plugins/nodejs-plugins.ts
Owners: @cloudflare/wrangler

CODEOWNERS:

* @cloudflare/wrangler

# D&C ownership
/packages/workers-shared @cloudflare/deploy-config @cloudflare/wrangler

# Pages ownership
/packages/pages-shared/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

# D1 ownership
/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/__tests__/d1/ @cloudflare/d1 @cloudflare/wrangler

# Cloudchamber ownership
/packages/wrangler/src/cloudchamber/ @cloudflare/cloudchamber @cloudflare/wrangler

# C3 ownership
/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Workers KV ownership
/packages/wrangler/src/kv @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.local.test.ts @cloudflare/kv @cloudflare/wrangler
/packages/wrangler/src/__tests__/kv.test.ts @cloudflare/kv @cloudflare/wrangler

# kv-asset-handler ownership
/packages/kv-asset-handler/ @cloudflare/wrangler

# Workflows ownership
/packages/workflows-shared/ @cloudflare/workflows @cloudflare/wrangler

# Owners intentionally left blank on these shared directories / files
# to avoid noisy review requests
/.changeset/
/fixtures/
pnpm-lock.yaml

# Only wrangler-admins are needed to approve releases
# Product teams can request hold on release by reaching out to wrangler-admins
**/CHANGELOG.md @cloudflare/wrangler-admins
**/package.json @cloudflare/wrangler

# To allow dependabot updates to C3 frameworks to be approved by C3 team
/packages/create-cloudflare/**/package.json @cloudflare/wrangler @cloudflare/c3
