Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @khulnasoft/triangle, @khulnasoft/triangle-admins, @cloudflare/pages, @jculvey, @RamIdeas, @petebacondarwin, @cloudflare/wrangler, @cloudflare/wrangler-admins, @cloudflare/d1, @cloudflare/c3

CODEOWNERS:

<<<<<<< HEAD
# Global owners

- @khulnasoft/triangle
  /packages/triangle/CHANGELOG.md @khulnasoft/triangle-admins
  /packages/pages-shared/ @cloudflare/pages
  /packages/triangle/pages/ @cloudflare/pages
  /packages/triangle/src/pages/ @cloudflare/pages
  /packages/triangle/src/pages.\* @cloudflare/pages
  /packages/create-cloudflare/ @jculvey @RamIdeas @petebacondarwin
=======
* @cloudflare/wrangler

/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins

/.changeset/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1 @cloudflare/c3
/fixtures/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1

/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler

/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler
>>>>>>> da9ba3c855317c6071eb892def4965706f2fb97f

test
  package.json
  templates/README.md
  templates/worker-speedtest/package.json
  templates/worker-typescript/package.json
  templates/worker-websocket/package.json
  templates/worker-worktop/package.json
Owners: @cloudflare/wrangler

Add DispatchNamespace as binding type
  packages/wrangler/src/type-generation.ts
Owners: @cloudflare/wrangler

Add changeset
  .changeset/chilly-files-think.md
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

Update type generation test with DispatchNamespace
  packages/wrangler/src/__tests__/type-generation.test.ts
Owners: @cloudflare/wrangler

Add DispatchNamespace as binding type (#3752)
  .changeset/chilly-files-think.md
  packages/wrangler/src/__tests__/type-generation.test.ts
  packages/wrangler/src/type-generation.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

chore: update templates to use --no-delegate-c3 for all init commands.
  templates/experimental/worker-cobol/README.md
  templates/experimental/worker-dart/README.md
  templates/experimental/worker-emscripten/README.md
  templates/experimental/worker-fsharp/README.md
  templates/experimental/worker-kotlin/README.md
  templates/experimental/worker-perl/README.md
  templates/experimental/worker-php/README.md
  templates/experimental/worker-python/README.md
  templates/experimental/worker-reason/README.md
  templates/experimental/worker-rust/README.md
  templates/experimental/worker-scala-kv/README.md
  templates/experimental/worker-scala/README.md
  templates/pages-example-forum-app/README.md
  templates/pages-functions-cors/README.md
  templates/pages-plugin-static-forms/README.md
  templates/worker-analytics-engine-forwarder/README.md
  templates/worker-aws/README.md
  templates/worker-d1-api/README.md
  templates/worker-d1/README.md
  templates/worker-durable-objects/README.md
  templates/worker-example-request-scheduler/README.md
  templates/worker-example-wordle/README.md
  templates/worker-mysql/README.md
  templates/worker-openapi/README.md
  templates/worker-postgres/README.md
  templates/worker-prospector/readme.md
  templates/worker-r2/README.md
  templates/worker-router/README.md
  templates/worker-sites-react/README.md
  templates/worker-sites/README.md
  templates/worker-speedtest/README.md
  templates/worker-turso-rs/README.md
  templates/worker-turso-ts/README.md
  templates/worker-typescript/README.md
  templates/worker-websocket-durable-objects/README.md
  templates/worker-websocket/README.md
  templates/worker-worktop/README.md
  templates/worker/README.md
Owners: @cloudflare/wrangler

update templates to use wrangler generate
  templates/README.md
  templates/experimental/worker-cobol/README.md
  templates/experimental/worker-dart/README.md
  templates/experimental/worker-emscripten/README.md
  templates/experimental/worker-fsharp/README.md
  templates/experimental/worker-kotlin/README.md
  templates/experimental/worker-perl/README.md
  templates/experimental/worker-php/README.md
  templates/experimental/worker-python/README.md
  templates/experimental/worker-reason/README.md
  templates/experimental/worker-rust/README.md
  templates/experimental/worker-scala-kv/README.md
  templates/experimental/worker-scala/README.md
  templates/pages-example-forum-app/README.md
  templates/pages-functions-cors/README.md
  templates/pages-plugin-static-forms/README.md
  templates/worker-analytics-engine-forwarder/README.md
  templates/worker-aws/README.md
  templates/worker-d1-api/README.md
  templates/worker-d1/README.md
  templates/worker-durable-objects/README.md
  templates/worker-example-request-scheduler/README.md
  templates/worker-example-wordle/README.md
  templates/worker-mysql/README.md
  templates/worker-openapi/README.md
  templates/worker-postgres/README.md
  templates/worker-prospector/readme.md
  templates/worker-r2/README.md
  templates/worker-router/README.md
  templates/worker-sites-react/README.md
  templates/worker-sites/README.md
  templates/worker-speedtest/README.md
  templates/worker-turso-rs/README.md
  templates/worker-turso-ts/README.md
  templates/worker-typescript/README.md
  templates/worker-websocket-durable-objects/README.md
  templates/worker-websocket/README.md
  templates/worker-worktop/README.md
  templates/worker/README.md
Owners: @cloudflare/wrangler

prettier fixes
  templates/experimental/worker-perl/README.md
  templates/experimental/worker-php/README.md
  templates/experimental/worker-python/README.md
  templates/experimental/worker-reason/README.md
  templates/experimental/worker-rust/README.md
  templates/experimental/worker-scala-kv/README.md
  templates/experimental/worker-scala/README.md
Owners: @cloudflare/wrangler

remove mention of c3 since template instructions now rely on wrangler generate
  templates/experimental/worker-cobol/README.md
  templates/experimental/worker-dart/README.md
  templates/experimental/worker-emscripten/README.md
  templates/experimental/worker-fsharp/README.md
  templates/experimental/worker-kotlin/README.md
  templates/experimental/worker-perl/README.md
  templates/experimental/worker-php/README.md
  templates/experimental/worker-python/README.md
  templates/experimental/worker-reason/README.md
  templates/experimental/worker-rust/README.md
  templates/experimental/worker-scala-kv/README.md
  templates/experimental/worker-scala/README.md
  templates/pages-example-forum-app/README.md
  templates/pages-functions-cors/README.md
  templates/pages-plugin-static-forms/README.md
  templates/worker-analytics-engine-forwarder/README.md
  templates/worker-aws/README.md
  templates/worker-durable-objects/README.md
  templates/worker-example-request-scheduler/README.md
  templates/worker-example-wordle/README.md
  templates/worker-mysql/README.md
  templates/worker-openapi/README.md
  templates/worker-postgres/README.md
  templates/worker-r2/README.md
  templates/worker-router/README.md
  templates/worker-sites-react/README.md
  templates/worker-sites/README.md
  templates/worker-speedtest/README.md
  templates/worker-turso-rs/README.md
  templates/worker-turso-ts/README.md
  templates/worker-typescript/README.md
  templates/worker-websocket-durable-objects/README.md
  templates/worker-websocket/README.md
  templates/worker-worktop/README.md
  templates/worker/README.md
Owners: @cloudflare/wrangler

note
  .changeset/smooth-elephants-divide.md
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

prettier fix
  templates/experimental/worker-dart/README.md
Owners: @cloudflare/wrangler

[C3] Use workers template for `create-hono` (#3552)
  .changeset/lazy-brooms-live.md
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/frameworks/hono/index.ts
  packages/create-cloudflare/src/pages.ts
  packages/create-cloudflare/src/types.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

chore: update root /templates to use `wrangler generate` instead of `create-cloudflare@v1` (#3452)
  templates/README.md
  templates/experimental/worker-cobol/README.md
  templates/experimental/worker-dart/README.md
  templates/experimental/worker-emscripten/README.md
  templates/experimental/worker-fsharp/README.md
  templates/experimental/worker-kotlin/README.md
  templates/experimental/worker-perl/README.md
  templates/experimental/worker-php/README.md
  templates/experimental/worker-python/README.md
  templates/experimental/worker-reason/README.md
  templates/experimental/worker-rust/README.md
  templates/experimental/worker-scala-kv/README.md
  templates/experimental/worker-scala/README.md
  templates/pages-example-forum-app/README.md
  templates/pages-functions-cors/README.md
  templates/pages-plugin-static-forms/README.md
  templates/worker-analytics-engine-forwarder/README.md
  templates/worker-aws/README.md
  templates/worker-d1-api/README.md
  templates/worker-d1/README.md
  templates/worker-durable-objects/README.md
  templates/worker-example-request-scheduler/README.md
  templates/worker-example-wordle/README.md
  templates/worker-mysql/README.md
  templates/worker-openapi/README.md
  templates/worker-postgres/README.md
  templates/worker-prospector/readme.md
  templates/worker-r2/README.md
  templates/worker-router/README.md
  templates/worker-sites-react/README.md
  templates/worker-sites/README.md
  templates/worker-speedtest/README.md
  templates/worker-turso-rs/README.md
  templates/worker-turso-ts/README.md
  templates/worker-typescript/README.md
  templates/worker-websocket-durable-objects/README.md
  templates/worker-websocket/README.md
  templates/worker-worktop/README.md
  templates/worker/README.md
Owners: @cloudflare/wrangler

Translate stack traces in terminal and devtools
  .changeset/short-eggs-destroy.md
  fixtures/worker-ts/src/index.ts
  packages/wrangler/src/inspect.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

fix: Retry deployment errors in wrangler pages publish
  .changeset/hip-rules-cross.md
  packages/wrangler/src/__tests__/pages/deploy.test.ts
  packages/wrangler/src/api/pages/deploy.tsx
  packages/wrangler/src/pages/constants.ts
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

Allow tests to pass in western hemisphere (#3721)
  packages/wrangler/src/__tests__/d1/convert-timestamp-to-iso.test.ts
Owners: @cloudflare/wrangler

Add `wrangler pages project validate [directory]` command
  .changeset/dull-pets-search.md
  packages/wrangler/src/__tests__/pages/project-validate.test.ts
  packages/wrangler/src/api/pages/deploy.tsx
  packages/wrangler/src/pages/index.ts
  packages/wrangler/src/pages/upload.tsx
  packages/wrangler/src/pages/validate.tsx
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

bump miniflare version
  .changeset/spicy-cars-smell.md
  fixtures/pages-ws-app/package.json
  package-lock.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

bump miniflare version (#3765)
  .changeset/spicy-cars-smell.md
  fixtures/pages-ws-app/package.json
  package-lock.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
Owners: @cloudflare/wrangler, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

Update prereleases.yml
  .github/workflows/prereleases.yml
Owners: @cloudflare/wrangler

Update release.yml
  .github/workflows/release.yml
Owners: @cloudflare/wrangler

Update workflows for maintenance branch to run releases and prereleases
  .github/workflows/main.yml
  .github/workflows/prereleases.yml
  .github/workflows/release.yml
Owners: @cloudflare/wrangler

Fixing env variable passing to e2e process
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

Consolidate temp directory creation logic
  packages/create-cloudflare/e2e-tests/cli.test.ts
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/e2e-tests/workers.test.ts
  packages/create-cloudflare/package.json
Owners: @cloudflare/c3, @cloudflare/wrangler

C3: Add e2e coverage for pnpm and yarn
  .github/actions/install-dependencies/action.yml
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/turbo.json
Owners: @cloudflare/wrangler, @cloudflare/c3

Lower the concurrency to help with rate limiting
  packages/create-cloudflare/vitest-e2e.config.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Re-enable all tests
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Change how we force package managers in e2e
  package-lock.json
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/src/helpers/packages.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Update test account in c3 tests
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/src/common.ts
  packages/create-cloudflare/src/pages.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Debug: limit to npm
  .github/workflows/test-c3.yml
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/src/pages.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

debug cli tmp project creation
  packages/create-cloudflare/e2e-tests/cli.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Skipping some tests for debug purposes
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Create a job to cleanup e2e pages projects before running
  .github/workflows/test-c3.yml
  package-lock.json
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/package.json
  packages/create-cloudflare/scripts/cleanupPagesProject.mjs
  packages/create-cloudflare/scripts/e2eCleanup.mjs
  packages/create-cloudflare/src/helpers/packages.ts
  packages/create-cloudflare/src/pages.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Running tests serially for debug
  packages/create-cloudflare/e2e-tests/pages.test.ts
  packages/create-cloudflare/scripts/e2eCleanup.mjs
Owners: @cloudflare/c3, @cloudflare/wrangler

Fixing pnpm issues for react and next
  .github/workflows/test-c3.yml
  packages/create-cloudflare/src/frameworks/next/index.ts
  packages/create-cloudflare/src/frameworks/react/index.ts
  packages/create-cloudflare/src/helpers/command.ts
Owners: @cloudflare/wrangler, @cloudflare/c3

Fix bug in cleanup
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Skip react and next for debug
  packages/create-cloudflare/e2e-tests/pages.test.ts
Owners: @cloudflare/c3, @cloudflare/wrangler

Add required env variables to cleanup job
  .github/workflows/test-c3.yml
  packages/create-cloudflare/package.json
Owners: @cloudflare/wrangler, @cloudflare/c3

Configure dummy git user and limit runs to npm
  .github/workflows/test-c3.yml
Owners: @cloudflare/wrangler

Add more logging
  packages/create-cloudflare/e2e-tests/helpers.ts
  packages/create-cloudflare/src/frameworks/versionMap.json
Owners: @cloudflare/c3, @cloudflare/wrangler
