Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @rozenmd, @petebacondarwin, @cloudflare/pages

CODEOWNERS:

# Global owners
* @rozenmd @petebacondarwin
/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages
/packages/wrangler/src/pages/ @cloudflare/pages
/packages/wrangler/src/pages.* @cloudflare/pages

new metadata binding type accept the new binding type - configured top level in wrangler.toml with a string value as its name
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/validation.ts
Owners: @rozenmd, @petebacondarwin

Added the new config binding 'script_metadata_binding' to the bindings object that gets collected and sent with worker on Publish
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Add script_metadata_binding to getBindings function and createDraftWorker function
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/secret/index.ts
Owners: @rozenmd, @petebacondarwin

snapshot update from previous PR that fixed Help formatting
  packages/wrangler/src/__tests__/index.test.ts
Owners: @rozenmd, @petebacondarwin

feat: delete site/assets namespace when a worker is deleted
  .changeset/poor-cycles-grow.md
  packages/wrangler/src/__tests__/delete.test.ts
  packages/wrangler/src/delete.ts
  packages/wrangler/src/sites.tsx
Owners: @rozenmd, @petebacondarwin

feat: delete site/assets namespace when a worker is deleted (#2098)
  .changeset/poor-cycles-grow.md
  packages/wrangler/src/__tests__/delete.test.ts
  packages/wrangler/src/delete.ts
  packages/wrangler/src/sites.tsx
Owners: @rozenmd, @petebacondarwin

Passing through x-d1-internal-env HTTP header on execute
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/d1/execute.tsx
  packages/wrangler/src/d1/types.tsx
  packages/wrangler/src/d1/utils.ts
Owners: @rozenmd, @petebacondarwin

Added the created on field & updated the author field to email specific to match API
  .changeset/shaggy-pots-hear.md
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/helpers/msw/handlers/deployments.ts
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

fix: D1 execute and backup commands improvements
  .changeset/d1-execute.perf.md
  packages/wrangler/src/d1/backups.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Fixes lint errors
  packages/wrangler/src/d1/backups.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Fixes formatting issues
  packages/wrangler/src/d1/backups.tsx
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Fixes linter warning
  packages/wrangler/src/d1/execute.tsx
Owners: @rozenmd, @petebacondarwin

Added the binding to createWorkerUploadForm function, added test for specfic binding, renamed values to 'metadata_binding' rather than 'script_metadata_binding' based on API
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Name change to 'worker_metadata' and backend sent as 'metadata'
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin

Wrangler deployments command (#2091)
  .changeset/shaggy-pots-hear.md
  packages/wrangler/src/__tests__/deployments.test.ts
  packages/wrangler/src/__tests__/helpers/msw/handlers/deployments.ts
  packages/wrangler/src/__tests__/helpers/msw/index.ts
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/__tests__/tail.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/init.ts
Owners: @rozenmd, @petebacondarwin

Missed created on notes
  .changeset/shaggy-pots-hear.md
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

Missed created on notes (#2108)
  .changeset/shaggy-pots-hear.md
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

Address PR feedback
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/index.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/queues/cli/commands/consumer/add.ts
  packages/wrangler/src/queues/cli/commands/consumer/index.ts
  packages/wrangler/src/queues/cli/commands/consumer/remove.ts
  packages/wrangler/src/queues/cli/commands/create.ts
  packages/wrangler/src/queues/cli/commands/delete.ts
  packages/wrangler/src/queues/cli/commands/index.ts
  packages/wrangler/src/queues/cli/commands/list.ts
  packages/wrangler/src/queues/cli/config.ts
  packages/wrangler/src/queues/client.ts
Owners: @rozenmd, @petebacondarwin

Hide deployments command
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

chore: remove empty code block (#2088)
  packages/wrangler/README.md
Owners: @rozenmd, @petebacondarwin

fixup! Address PR feedback
  packages/wrangler/src/queues/cli/commands/consumer/add.ts
  packages/wrangler/src/queues/cli/commands/consumer/remove.ts
Owners: @rozenmd, @petebacondarwin

Added changeset
  .changeset/rich-bears-press.md
Owners: @rozenmd, @petebacondarwin

Hide deployments command (#2109)
  packages/wrangler/src/__tests__/index.test.ts
  packages/wrangler/src/index.tsx
Owners: @rozenmd, @petebacondarwin

Add a `passThroughOnException()` handler to Pages Functions
  .changeset/dirty-gifts-breathe.md
  fixtures/pages-functions-app/functions/passThroughOnException/_middleware.ts
  fixtures/pages-functions-app/functions/passThroughOnException/nested.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionClosed.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionOpen.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionWithCapture/_middleware.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionWithCapture/nested.ts
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/templates/pages-template-plugin.ts
  packages/wrangler/templates/pages-template-worker.ts
Owners: @rozenmd, @petebacondarwin

Fallback to `zone_name` on invalid URL error
  packages/wrangler/src/zones.ts
Owners: @rozenmd, @petebacondarwin

Expand tests
  packages/wrangler/src/__tests__/dev.test.tsx
  packages/wrangler/src/__tests__/helpers/msw/handlers/zones.ts
  packages/wrangler/src/__tests__/helpers/msw/index.ts
Owners: @rozenmd, @petebacondarwin

Fix tests
  packages/wrangler/src/__tests__/helpers/msw/index.ts
Owners: @rozenmd, @petebacondarwin

chore(upload): submit requested changes
  packages/wrangler/src/pages/upload.tsx
Owners: @cloudflare/pages

fix: lowering limit for bulk upload to avoid API error
  .changeset/thin-candles-hang.md
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/sites.tsx
Owners: @rozenmd, @petebacondarwin

Reworking for prewarm, inspector, and windows
  packages/wrangler/src/create-worker-preview.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/inspect.ts
  packages/wrangler/src/proxy.ts
  packages/wrangler/src/user/access.ts
Owners: @rozenmd, @petebacondarwin

Fix lint
  packages/wrangler/src/proxy.ts
Owners: @rozenmd, @petebacondarwin

Add changeset
  .changeset/tiny-gifts-own.md
Owners: @rozenmd, @petebacondarwin

Update tiny-gifts-own.md
  .changeset/tiny-gifts-own.md
Owners: @rozenmd, @petebacondarwin

Add a `passThroughOnException()` handler to Pages Functions (#2111)
  .changeset/dirty-gifts-breathe.md
  fixtures/pages-functions-app/functions/passThroughOnException/_middleware.ts
  fixtures/pages-functions-app/functions/passThroughOnException/nested.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionClosed.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionOpen.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionWithCapture/_middleware.ts
  fixtures/pages-functions-app/functions/passThroughOnExceptionWithCapture/nested.ts
  fixtures/pages-functions-app/tests/index.test.ts
  packages/wrangler/templates/pages-template-plugin.ts
  packages/wrangler/templates/pages-template-worker.ts
Owners: @rozenmd, @petebacondarwin

Avoid uploading the 'functions' directory as part of 'wrangler pages publish'
  .changeset/cool-nails-marry.md
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/is-interactive.ts
  packages/wrangler/src/pages/constants.ts
  packages/wrangler/src/pages/upload.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Avoid uploading the 'functions' directory as part of 'wrangler pages publish' (#2103)
  .changeset/cool-nails-marry.md
  package-lock.json
  packages/wrangler/package.json
  packages/wrangler/src/__tests__/pages.test.ts
  packages/wrangler/src/is-interactive.ts
  packages/wrangler/src/pages/constants.ts
  packages/wrangler/src/pages/upload.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Log pages upload error
  .changeset/green-icons-end.md
  packages/wrangler/src/pages/upload.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

Prettify
  packages/wrangler/src/pages/upload.tsx
Owners: @cloudflare/pages

Log pages upload error (#2117)
  .changeset/green-icons-end.md
  packages/wrangler/src/pages/upload.tsx
Owners: @rozenmd, @petebacondarwin, @cloudflare/pages

metadata binding name change
  packages/wrangler/src/__tests__/publish.test.ts
  packages/wrangler/src/config/config.ts
  packages/wrangler/src/config/index.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/create-worker-upload-form.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/publish/publish.ts
  packages/wrangler/src/secret/index.ts
  packages/wrangler/src/worker.ts
Owners: @rozenmd, @petebacondarwin
