Repository cloudflare/workers-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @cloudflare/wrangler, @cloudflare/wrangler-admins, @cloudflare/pages, @cloudflare/d1, @cloudflare/c3

CODEOWNERS:

* @cloudflare/wrangler

/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins

/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/api/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/pages/ @cloudflare/pages @cloudflare/wrangler
/packages/wrangler/src/__tests__/pages/ @cloudflare/pages @cloudflare/wrangler

/packages/wrangler/src/api/d1/ @cloudflare/d1 @cloudflare/wrangler
/packages/wrangler/src/d1/ @cloudflare/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3 @cloudflare/wrangler

# Owners intentionally left blank on these shared directories
# to avoid noisy review requests
/.changeset/
/fixtures/

typo
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
Owners: @cloudflare/wrangler

move stuff
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/dev/create-worker-preview.ts
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/inspect.ts
  packages/wrangler/src/dev/local.tsx
  packages/wrangler/src/dev/proxy.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/dev/use-esbuild.ts
Owners: @cloudflare/wrangler

more refactorings
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/apply-middleware.ts
  packages/wrangler/src/deployment-bundle/build-failures.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/dedupe-modules.ts
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/index.ts
  packages/wrangler/src/pages/dev.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

test: add CommonJS lazy import to additional-modules fixture
  fixtures/additional-modules/src/common.cjs
  fixtures/additional-modules/src/index.ts
  fixtures/additional-modules/test/index.spec.ts
  fixtures/additional-modules/tsconfig.json
Owners: none

fix: ensure that additional modules appear in the out-dir
  .changeset/blue-donkeys-pretend.md
  packages/wrangler/src/deploy/deploy.ts
Owners: @cloudflare/wrangler

test: ignore failure to remove tmp dir on Windows
  fixtures/additional-modules/test/index.spec.ts
  packages/wrangler/src/whoami.ts
Owners: @cloudflare/wrangler

test: improve no-bundle-import tests
  fixtures/no-bundle-import/src/index.test.ts
  fixtures/no-bundle-import/wrangler.toml
Owners: none

pnpm fixups
  fixtures/additional-modules/package.json
  fixtures/shared/package.json
  pnpm-lock.yaml
Owners: @cloudflare/wrangler

refactor: convert additional file finding to a generator function
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
Owners: @cloudflare/wrangler

Test additional module failure case and fix message typo
  packages/workers-playground/src/QuickEditor/module-collection.ts
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/__tests__/find-additional-modules.test.ts
  packages/wrangler/src/deployment-bundle/rules.ts
Owners: @cloudflare/wrangler

allow `__STATIC_CONTENT_MANIFEST` to be imported from any module
  .changeset/hot-deers-return.md
  packages/wrangler/src/__tests__/deploy.test.ts
  packages/wrangler/src/deployment-bundle/create-worker-upload-form.ts
Owners: @cloudflare/wrangler

invert module collector config - no longer need to return it as it is passed in
  packages/wrangler/src/api/pages/deploy.tsx
  packages/wrangler/src/config/environment.ts
  packages/wrangler/src/config/validation.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

test: rename spec to test
  fixtures/additional-modules/test/index.test.ts
Owners: none

Rename the functions build helpers to make it more clear what their role is.
  packages/wrangler/src/pages/buildFunctions.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/pages, @cloudflare/wrangler

Add debug logging when writing additional modules
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
Owners: @cloudflare/wrangler

refactor: consolidate writing additional modules
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/pages/build.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

rename traverseModuleGraph as this is not what it does
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

implement module finding in normal bundling if the find_additional_modules flag is on
  .changeset/clever-turkeys-leave.md
  .prettierignore
  fixtures/additional-modules/package.json
  fixtures/additional-modules/src/dep.ts
  fixtures/additional-modules/src/dynamic.js
  fixtures/additional-modules/src/index.ts
  fixtures/additional-modules/src/lang/en.js
  fixtures/additional-modules/src/lang/fr.js
  fixtures/additional-modules/src/text.d.ts
  fixtures/additional-modules/src/text.txt
  fixtures/additional-modules/test/index.spec.ts
  fixtures/additional-modules/test/tsconfig.json
  fixtures/additional-modules/tsconfig.json
  fixtures/additional-modules/wrangler.toml
  fixtures/shared/src/run-wrangler-long-lived.ts
  packages/wrangler/src/__tests__/find-additional-modules.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/apply-middleware.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/deployment-bundle/rules.ts
  packages/wrangler/src/dev.tsx
  packages/wrangler/src/dev/dev.tsx
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildPlugin.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
  packages/wrangler/templates/modules-watch-stub.js
  pnpm-lock.yaml
Owners: @cloudflare/wrangler, @cloudflare/pages

Display build warnings before updating the bundle
  packages/wrangler/src/dev/use-esbuild.ts
Owners: @cloudflare/wrangler

refactor to simplify findAdditionalModules()
  packages/wrangler/src/__tests__/find-additional-modules.test.ts
  packages/wrangler/src/deploy/deploy.ts
  packages/wrangler/src/deployment-bundle/bundle-type.ts
  packages/wrangler/src/deployment-bundle/bundle.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/module-collection.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/remote.tsx
  packages/wrangler/src/dev/start-server.ts
  packages/wrangler/src/dev/use-esbuild.ts
  packages/wrangler/src/pages/functions/buildWorker.ts
Owners: @cloudflare/wrangler, @cloudflare/pages

test: do not show output in d1 time-travel tests
  packages/wrangler/src/__tests__/d1/timeTravel.test.ts
Owners: @cloudflare/wrangler

Update patches
  packages/wrangler-devtools/Makefile
  packages/wrangler-devtools/patches/0001-Add-README-detailing-the-setup-process.patch
  packages/wrangler-devtools/patches/0001-Support-viewing-files-over-the-network.patch
  packages/wrangler-devtools/patches/0002-Show-fallback-image-on-Safari.patch
  packages/wrangler-devtools/patches/0003-Support-previewing-subrequest-responses.patch
  packages/wrangler-devtools/patches/0004-Better-Firefox-support-for-network-tab.patch
  packages/wrangler-devtools/patches/0005-Remove-unsupported-network-UI.patch
  packages/wrangler-devtools/patches/0006-Remove-unsupported-profiler-UI.patch
  packages/wrangler-devtools/patches/0007-Support-theme-url-parameter-for-forcing-the-theme-fr.patch
  packages/wrangler-devtools/patches/0008-Basic-support-for-text-colour-in-dark-mode-in-browse.patch
  packages/wrangler-devtools/patches/0008-Show-an-overlay-on-the-memory-tab-in-Firefox.patch
  packages/wrangler-devtools/patches/0009-Fallback-to-location-for-domain.patch
  packages/wrangler-devtools/patches/0010-Basic-support-for-text-colour-in-dark-mode-in-browse.patch
  packages/wrangler-devtools/patches/0010-Hide-unsupported-settings-UI.patch
  packages/wrangler-devtools/patches/0011-Add-ping-to-improve-connection-stability.patch
  packages/wrangler-devtools/patches/0012-Support-sourcemaps.patch
  packages/wrangler-devtools/patches/0013-DEVX-380-Hide-debugger-sidebar-and-disable-breakpoin.patch
  packages/wrangler-devtools/patches/0013-Enable-debugger-when-query-parameter-debugger-is-tru.patch
  packages/wrangler-devtools/patches/0014-Show-Profiling-panel.patch
  packages/wrangler-devtools/patches/0015-Basic-support-for-Safari.patch
  packages/wrangler/src/inspect.ts
Owners: @cloudflare/wrangler

fix: use correct `//# sourceURL` with `find_additional_modules`
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/source-url.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/remote.tsx
Owners: @cloudflare/wrangler

chore: bump `miniflare` to `3.20231002.1`
  .changeset/eleven-berries-itch.md
  fixtures/pages-ws-app/package.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
  packages/wrangler/src/api/dev.ts
  pnpm-lock.yaml
Owners: @cloudflare/pages, @cloudflare/wrangler

[wrangler] chore: bump `miniflare` to `3.20231002.1` and fix `find_additional_modules` source maps (#4107)
  .changeset/eleven-berries-itch.md
  fixtures/pages-ws-app/package.json
  packages/pages-shared/package.json
  packages/wrangler/package.json
  packages/wrangler/src/api/dev.ts
  packages/wrangler/src/deployment-bundle/find-additional-modules.ts
  packages/wrangler/src/deployment-bundle/source-url.ts
  packages/wrangler/src/dev/miniflare.ts
  packages/wrangler/src/dev/remote.tsx
  pnpm-lock.yaml
Owners: @cloudflare/pages, @cloudflare/wrangler

Update patches (#4086)
  packages/wrangler-devtools/Makefile
  packages/wrangler-devtools/patches/0001-Add-README-detailing-the-setup-process.patch
  packages/wrangler-devtools/patches/0001-Support-viewing-files-over-the-network.patch
  packages/wrangler-devtools/patches/0002-Show-fallback-image-on-Safari.patch
  packages/wrangler-devtools/patches/0003-Support-previewing-subrequest-responses.patch
  packages/wrangler-devtools/patches/0004-Better-Firefox-support-for-network-tab.patch
  packages/wrangler-devtools/patches/0005-Remove-unsupported-network-UI.patch
  packages/wrangler-devtools/patches/0006-Remove-unsupported-profiler-UI.patch
  packages/wrangler-devtools/patches/0007-Support-theme-url-parameter-for-forcing-the-theme-fr.patch
  packages/wrangler-devtools/patches/0008-Basic-support-for-text-colour-in-dark-mode-in-browse.patch
  packages/wrangler-devtools/patches/0008-Show-an-overlay-on-the-memory-tab-in-Firefox.patch
  packages/wrangler-devtools/patches/0009-Fallback-to-location-for-domain.patch
  packages/wrangler-devtools/patches/0010-Basic-support-for-text-colour-in-dark-mode-in-browse.patch
  packages/wrangler-devtools/patches/0010-Hide-unsupported-settings-UI.patch
  packages/wrangler-devtools/patches/0011-Add-ping-to-improve-connection-stability.patch
  packages/wrangler-devtools/patches/0012-Support-sourcemaps.patch
  packages/wrangler-devtools/patches/0013-DEVX-380-Hide-debugger-sidebar-and-disable-breakpoin.patch
  packages/wrangler-devtools/patches/0013-Enable-debugger-when-query-parameter-debugger-is-tru.patch
  packages/wrangler-devtools/patches/0014-Show-Profiling-panel.patch
  packages/wrangler-devtools/patches/0015-Basic-support-for-Safari.patch
  packages/wrangler/src/dev/inspect.ts
Owners: @cloudflare/wrangler

Quarantine tests (#4085)
  .github/workflows/pullrequests.yml
  package.json
Owners: @cloudflare/wrangler

Update LICENSE-APACHE
  LICENSE-APACHE
Owners: @cloudflare/wrangler

Update SECURITY.md
  SECURITY.md
Owners: @cloudflare/wrangler

Update .npmrc
  .npmrc
Owners: @cloudflare/wrangler

Update node-types.d.ts
  node-types.d.ts
Owners: @cloudflare/wrangler

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Owners: @cloudflare/wrangler
